<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.ActivityprogramticketresultMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Activityprogramticketresult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activityid" property="activityid" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="activityprogramid" property="activityprogramid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activityid, memberid, activityprogramid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activityprogramticketresult
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activityprogramticketresult
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Activityprogramticketresult" >
    insert into activityprogramticketresult (id, activityid, memberid, 
      activityprogramid)
    values (#{id,jdbcType=INTEGER}, #{activityid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, 
      #{activityprogramid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Activityprogramticketresult" >
    insert into activityprogramticketresult
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityid != null" >
        activityid,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="activityprogramid != null" >
        activityprogramid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityid != null" >
        #{activityid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="activityprogramid != null" >
        #{activityprogramid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Activityprogramticketresult" >
    update activityprogramticketresult
    <set >
      <if test="activityid != null" >
        activityid = #{activityid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="activityprogramid != null" >
        activityprogramid = #{activityprogramid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Activityprogramticketresult" >
    update activityprogramticketresult
    set activityid = #{activityid,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER},
      activityprogramid = #{activityprogramid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getListByMemberid" resultType="com.emi.emiservice.entity.Activityprogramticketresult">
    SELECT * from activityprogramticketresult where activityid=#{activityid} and memberid=#{memberid}

  </select>
</mapper>