<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzAuthAccessMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzAuthAccess" >
    <result column="role_id" property="role_id" jdbcType="INTEGER" />
    <result column="rule_name" property="rule_name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.emi.roots.entity.AzAuthAccess" >
    insert into az_auth_access (role_id, rule_name, type
      )
    values (#{role_id,jdbcType=INTEGER}, #{rule_name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzAuthAccess" >
    insert into az_auth_access
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="role_id != null" >
        role_id,
      </if>
      <if test="rule_name != null" >
        rule_name,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="role_id != null" >
        #{role_id,jdbcType=INTEGER},
      </if>
      <if test="rule_name != null" >
        #{rule_name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>