<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzForumMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzForum" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_id" property="type_id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="thumb" property="thumb" jdbcType="VARCHAR" />
    <result column="master" property="master" jdbcType="VARCHAR" />
    <result column="permissions" property="permissions" jdbcType="TINYINT" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="follow_num" property="follow_num" jdbcType="INTEGER" />
    <result column="click_num" property="click_num" jdbcType="INTEGER" />
    <result column="listorder" property="listorder" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="create_time" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_id, name, thumb, master, permissions, descr, follow_num, click_num, listorder, 
    state, create_time, uid, isdel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from az_forum
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_forum
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzForum" >
    insert into az_forum (id, type_id, name, 
      thumb, master, permissions, 
      descr, follow_num, click_num, 
      listorder, state, create_time, 
      uid, isdel)
    values (#{id,jdbcType=INTEGER}, #{type_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{thumb,jdbcType=VARCHAR}, #{master,jdbcType=VARCHAR}, #{permissions,jdbcType=TINYINT}, 
      #{descr,jdbcType=VARCHAR}, #{follow_num,jdbcType=INTEGER}, #{click_num,jdbcType=INTEGER}, 
      #{listorder,jdbcType=INTEGER}, #{state,jdbcType=TINYINT}, #{create_time,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{isdel,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzForum" >
    insert into az_forum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type_id != null" >
        type_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="thumb != null" >
        thumb,
      </if>
      <if test="master != null" >
        master,
      </if>
      <if test="permissions != null" >
        permissions,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="follow_num != null" >
        follow_num,
      </if>
      <if test="click_num != null" >
        click_num,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type_id != null" >
        #{type_id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="master != null" >
        #{master,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null" >
        #{permissions,jdbcType=TINYINT},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="follow_num != null" >
        #{follow_num,jdbcType=INTEGER},
      </if>
      <if test="click_num != null" >
        #{click_num,jdbcType=INTEGER},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzForum" >
    update az_forum
    <set >
      <if test="type_id != null" >
        type_id = #{type_id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=VARCHAR},
      </if>
      <if test="master != null" >
        master = #{master,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null" >
        permissions = #{permissions,jdbcType=TINYINT},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="follow_num != null" >
        follow_num = #{follow_num,jdbcType=INTEGER},
      </if>
      <if test="click_num != null" >
        click_num = #{click_num,jdbcType=INTEGER},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzForum" >
    update az_forum
    set type_id = #{type_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=VARCHAR},
      master = #{master,jdbcType=VARCHAR},
      permissions = #{permissions,jdbcType=TINYINT},
      descr = #{descr,jdbcType=VARCHAR},
      follow_num = #{follow_num,jdbcType=INTEGER},
      click_num = #{click_num,jdbcType=INTEGER},
      listorder = #{listorder,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      create_time = #{create_time,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>