<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzKeywordMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzKeyword" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="addon" property="addon" jdbcType="VARCHAR" />
    <result column="aim_id" property="aim_id" jdbcType="INTEGER" />
    <result column="cTime" property="cTime" jdbcType="INTEGER" />
    <result column="keyword_length" property="keyword_length" jdbcType="INTEGER" />
    <result column="keyword_type" property="keyword_type" jdbcType="TINYINT" />
    <result column="extra_int" property="extra_int" jdbcType="INTEGER" />
    <result column="request_count" property="request_count" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emi.roots.entity.AzKeyword" extends="BaseResultMap" >
    <result column="extra_text" property="extra_text" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, keyword, token, addon, aim_id, cTime, keyword_length, keyword_type, extra_int, 
    request_count
  </sql>
  <sql id="Blob_Column_List" >
    extra_text
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from az_keyword
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_keyword
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzKeyword" >
    insert into az_keyword (id, keyword, token, 
      addon, aim_id, cTime, 
      keyword_length, keyword_type, extra_int, 
      request_count, extra_text)
    values (#{id,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{addon,jdbcType=VARCHAR}, #{aim_id,jdbcType=INTEGER}, #{cTime,jdbcType=INTEGER}, 
      #{keyword_length,jdbcType=INTEGER}, #{keyword_type,jdbcType=TINYINT}, #{extra_int,jdbcType=INTEGER}, 
      #{request_count,jdbcType=INTEGER}, #{extra_text,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzKeyword" >
    insert into az_keyword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="addon != null" >
        addon,
      </if>
      <if test="aim_id != null" >
        aim_id,
      </if>
      <if test="cTime != null" >
        cTime,
      </if>
      <if test="keyword_length != null" >
        keyword_length,
      </if>
      <if test="keyword_type != null" >
        keyword_type,
      </if>
      <if test="extra_int != null" >
        extra_int,
      </if>
      <if test="request_count != null" >
        request_count,
      </if>
      <if test="extra_text != null" >
        extra_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="addon != null" >
        #{addon,jdbcType=VARCHAR},
      </if>
      <if test="aim_id != null" >
        #{aim_id,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=INTEGER},
      </if>
      <if test="keyword_length != null" >
        #{keyword_length,jdbcType=INTEGER},
      </if>
      <if test="keyword_type != null" >
        #{keyword_type,jdbcType=TINYINT},
      </if>
      <if test="extra_int != null" >
        #{extra_int,jdbcType=INTEGER},
      </if>
      <if test="request_count != null" >
        #{request_count,jdbcType=INTEGER},
      </if>
      <if test="extra_text != null" >
        #{extra_text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzKeyword" >
    update az_keyword
    <set >
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="addon != null" >
        addon = #{addon,jdbcType=VARCHAR},
      </if>
      <if test="aim_id != null" >
        aim_id = #{aim_id,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        cTime = #{cTime,jdbcType=INTEGER},
      </if>
      <if test="keyword_length != null" >
        keyword_length = #{keyword_length,jdbcType=INTEGER},
      </if>
      <if test="keyword_type != null" >
        keyword_type = #{keyword_type,jdbcType=TINYINT},
      </if>
      <if test="extra_int != null" >
        extra_int = #{extra_int,jdbcType=INTEGER},
      </if>
      <if test="request_count != null" >
        request_count = #{request_count,jdbcType=INTEGER},
      </if>
      <if test="extra_text != null" >
        extra_text = #{extra_text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.emi.roots.entity.AzKeyword" >
    update az_keyword
    set keyword = #{keyword,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      addon = #{addon,jdbcType=VARCHAR},
      aim_id = #{aim_id,jdbcType=INTEGER},
      cTime = #{cTime,jdbcType=INTEGER},
      keyword_length = #{keyword_length,jdbcType=INTEGER},
      keyword_type = #{keyword_type,jdbcType=TINYINT},
      extra_int = #{extra_int,jdbcType=INTEGER},
      request_count = #{request_count,jdbcType=INTEGER},
      extra_text = #{extra_text,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzKeyword" >
    update az_keyword
    set keyword = #{keyword,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      addon = #{addon,jdbcType=VARCHAR},
      aim_id = #{aim_id,jdbcType=INTEGER},
      cTime = #{cTime,jdbcType=INTEGER},
      keyword_length = #{keyword_length,jdbcType=INTEGER},
      keyword_type = #{keyword_type,jdbcType=TINYINT},
      extra_int = #{extra_int,jdbcType=INTEGER},
      request_count = #{request_count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>