<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzOptionsMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzOptions" >
    <id column="option_id" property="option_id" jdbcType="BIGINT" />
    <result column="option_name" property="option_name" jdbcType="VARCHAR" />
    <result column="autoload" property="autoload" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emi.roots.entity.AzOptions" extends="BaseResultMap" >
    <result column="option_value" property="option_value" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    option_id, option_name, autoload
  </sql>
  <sql id="Blob_Column_List" >
    option_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from az_options
    where option_id = #{option_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from az_options
    where option_id = #{option_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzOptions" >
    insert into az_options (option_id, option_name, autoload, 
      option_value)
    values (#{option_id,jdbcType=BIGINT}, #{option_name,jdbcType=VARCHAR}, #{autoload,jdbcType=INTEGER}, 
      #{option_value,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzOptions" >
    insert into az_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="option_id != null" >
        option_id,
      </if>
      <if test="option_name != null" >
        option_name,
      </if>
      <if test="autoload != null" >
        autoload,
      </if>
      <if test="option_value != null" >
        option_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="option_id != null" >
        #{option_id,jdbcType=BIGINT},
      </if>
      <if test="option_name != null" >
        #{option_name,jdbcType=VARCHAR},
      </if>
      <if test="autoload != null" >
        #{autoload,jdbcType=INTEGER},
      </if>
      <if test="option_value != null" >
        #{option_value,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzOptions" >
    update az_options
    <set >
      <if test="option_name != null" >
        option_name = #{option_name,jdbcType=VARCHAR},
      </if>
      <if test="autoload != null" >
        autoload = #{autoload,jdbcType=INTEGER},
      </if>
      <if test="option_value != null" >
        option_value = #{option_value,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where option_id = #{option_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.emi.roots.entity.AzOptions" >
    update az_options
    set option_name = #{option_name,jdbcType=VARCHAR},
      autoload = #{autoload,jdbcType=INTEGER},
      option_value = #{option_value,jdbcType=LONGVARCHAR}
    where option_id = #{option_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzOptions" >
    update az_options
    set option_name = #{option_name,jdbcType=VARCHAR},
      autoload = #{autoload,jdbcType=INTEGER}
    where option_id = #{option_id,jdbcType=BIGINT}
  </update>
</mapper>