<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzOrderMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="order_id" jdbcType="CHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="invoice" property="invoice" jdbcType="VARCHAR" />
    <result column="arrival_time" property="arrival_time" jdbcType="VARCHAR" />
    <result column="total_money" property="total_money" jdbcType="DECIMAL" />
    <result column="ship_fee" property="ship_fee" jdbcType="DECIMAL" />
    <result column="total_credit" property="total_credit" jdbcType="INTEGER" />
    <result column="coupon_id" property="coupon_id" jdbcType="INTEGER" />
    <result column="coupon_money" property="coupon_money" jdbcType="DECIMAL" />
    <result column="credit_use" property="credit_use" jdbcType="INTEGER" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="post_code" property="post_code" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="order_ip" property="order_ip" jdbcType="CHAR" />
    <result column="pay_time" property="pay_time" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="delivery_time" jdbcType="TIMESTAMP" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="express_cname" property="express_cname" jdbcType="VARCHAR" />
    <result column="express_kid" property="express_kid" jdbcType="CHAR" />
    <result column="payment_id" property="payment_id" jdbcType="CHAR" />
    <result column="payway" property="payway" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emi.roots.entity.AzOrder" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, uid, invoice, arrival_time, total_money, ship_fee, total_credit, coupon_id, 
    coupon_money, credit_use, receiver, province, city, district, address, post_code, 
    tel, status, order_ip, pay_time, delivery_time, create_time, update_time, express_cname, 
    express_kid, payment_id, payway
  </sql>
  <sql id="Blob_Column_List" >
    comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from az_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzOrder" >
    insert into az_order (id, order_id, uid, 
      invoice, arrival_time, total_money, 
      ship_fee, total_credit, coupon_id, 
      coupon_money, credit_use, receiver, 
      province, city, district, 
      address, post_code, tel, 
      status, order_ip, pay_time, 
      delivery_time, create_time, update_time, 
      express_cname, express_kid, payment_id, 
      payway, comment)
    values (#{id,jdbcType=INTEGER}, #{order_id,jdbcType=CHAR}, #{uid,jdbcType=INTEGER}, 
      #{invoice,jdbcType=VARCHAR}, #{arrival_time,jdbcType=VARCHAR}, #{total_money,jdbcType=DECIMAL}, 
      #{ship_fee,jdbcType=DECIMAL}, #{total_credit,jdbcType=INTEGER}, #{coupon_id,jdbcType=INTEGER}, 
      #{coupon_money,jdbcType=DECIMAL}, #{credit_use,jdbcType=INTEGER}, #{receiver,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{post_code,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{order_ip,jdbcType=CHAR}, #{pay_time,jdbcType=TIMESTAMP}, 
      #{delivery_time,jdbcType=TIMESTAMP}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{express_cname,jdbcType=VARCHAR}, #{express_kid,jdbcType=CHAR}, #{payment_id,jdbcType=CHAR}, 
      #{payway,jdbcType=CHAR}, #{comment,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzOrder" >
    insert into az_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="order_id != null" >
        order_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="invoice != null" >
        invoice,
      </if>
      <if test="arrival_time != null" >
        arrival_time,
      </if>
      <if test="total_money != null" >
        total_money,
      </if>
      <if test="ship_fee != null" >
        ship_fee,
      </if>
      <if test="total_credit != null" >
        total_credit,
      </if>
      <if test="coupon_id != null" >
        coupon_id,
      </if>
      <if test="coupon_money != null" >
        coupon_money,
      </if>
      <if test="credit_use != null" >
        credit_use,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="post_code != null" >
        post_code,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="order_ip != null" >
        order_ip,
      </if>
      <if test="pay_time != null" >
        pay_time,
      </if>
      <if test="delivery_time != null" >
        delivery_time,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="express_cname != null" >
        express_cname,
      </if>
      <if test="express_kid != null" >
        express_kid,
      </if>
      <if test="payment_id != null" >
        payment_id,
      </if>
      <if test="payway != null" >
        payway,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="order_id != null" >
        #{order_id,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="invoice != null" >
        #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="arrival_time != null" >
        #{arrival_time,jdbcType=VARCHAR},
      </if>
      <if test="total_money != null" >
        #{total_money,jdbcType=DECIMAL},
      </if>
      <if test="ship_fee != null" >
        #{ship_fee,jdbcType=DECIMAL},
      </if>
      <if test="total_credit != null" >
        #{total_credit,jdbcType=INTEGER},
      </if>
      <if test="coupon_id != null" >
        #{coupon_id,jdbcType=INTEGER},
      </if>
      <if test="coupon_money != null" >
        #{coupon_money,jdbcType=DECIMAL},
      </if>
      <if test="credit_use != null" >
        #{credit_use,jdbcType=INTEGER},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="post_code != null" >
        #{post_code,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="order_ip != null" >
        #{order_ip,jdbcType=CHAR},
      </if>
      <if test="pay_time != null" >
        #{pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delivery_time != null" >
        #{delivery_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="express_cname != null" >
        #{express_cname,jdbcType=VARCHAR},
      </if>
      <if test="express_kid != null" >
        #{express_kid,jdbcType=CHAR},
      </if>
      <if test="payment_id != null" >
        #{payment_id,jdbcType=CHAR},
      </if>
      <if test="payway != null" >
        #{payway,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzOrder" >
    update az_order
    <set >
      <if test="order_id != null" >
        order_id = #{order_id,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="invoice != null" >
        invoice = #{invoice,jdbcType=VARCHAR},
      </if>
      <if test="arrival_time != null" >
        arrival_time = #{arrival_time,jdbcType=VARCHAR},
      </if>
      <if test="total_money != null" >
        total_money = #{total_money,jdbcType=DECIMAL},
      </if>
      <if test="ship_fee != null" >
        ship_fee = #{ship_fee,jdbcType=DECIMAL},
      </if>
      <if test="total_credit != null" >
        total_credit = #{total_credit,jdbcType=INTEGER},
      </if>
      <if test="coupon_id != null" >
        coupon_id = #{coupon_id,jdbcType=INTEGER},
      </if>
      <if test="coupon_money != null" >
        coupon_money = #{coupon_money,jdbcType=DECIMAL},
      </if>
      <if test="credit_use != null" >
        credit_use = #{credit_use,jdbcType=INTEGER},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="post_code != null" >
        post_code = #{post_code,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="order_ip != null" >
        order_ip = #{order_ip,jdbcType=CHAR},
      </if>
      <if test="pay_time != null" >
        pay_time = #{pay_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delivery_time != null" >
        delivery_time = #{delivery_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="express_cname != null" >
        express_cname = #{express_cname,jdbcType=VARCHAR},
      </if>
      <if test="express_kid != null" >
        express_kid = #{express_kid,jdbcType=CHAR},
      </if>
      <if test="payment_id != null" >
        payment_id = #{payment_id,jdbcType=CHAR},
      </if>
      <if test="payway != null" >
        payway = #{payway,jdbcType=CHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.emi.roots.entity.AzOrder" >
    update az_order
    set order_id = #{order_id,jdbcType=CHAR},
      uid = #{uid,jdbcType=INTEGER},
      invoice = #{invoice,jdbcType=VARCHAR},
      arrival_time = #{arrival_time,jdbcType=VARCHAR},
      total_money = #{total_money,jdbcType=DECIMAL},
      ship_fee = #{ship_fee,jdbcType=DECIMAL},
      total_credit = #{total_credit,jdbcType=INTEGER},
      coupon_id = #{coupon_id,jdbcType=INTEGER},
      coupon_money = #{coupon_money,jdbcType=DECIMAL},
      credit_use = #{credit_use,jdbcType=INTEGER},
      receiver = #{receiver,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      post_code = #{post_code,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      order_ip = #{order_ip,jdbcType=CHAR},
      pay_time = #{pay_time,jdbcType=TIMESTAMP},
      delivery_time = #{delivery_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      express_cname = #{express_cname,jdbcType=VARCHAR},
      express_kid = #{express_kid,jdbcType=CHAR},
      payment_id = #{payment_id,jdbcType=CHAR},
      payway = #{payway,jdbcType=CHAR},
      comment = #{comment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzOrder" >
    update az_order
    set order_id = #{order_id,jdbcType=CHAR},
      uid = #{uid,jdbcType=INTEGER},
      invoice = #{invoice,jdbcType=VARCHAR},
      arrival_time = #{arrival_time,jdbcType=VARCHAR},
      total_money = #{total_money,jdbcType=DECIMAL},
      ship_fee = #{ship_fee,jdbcType=DECIMAL},
      total_credit = #{total_credit,jdbcType=INTEGER},
      coupon_id = #{coupon_id,jdbcType=INTEGER},
      coupon_money = #{coupon_money,jdbcType=DECIMAL},
      credit_use = #{credit_use,jdbcType=INTEGER},
      receiver = #{receiver,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      post_code = #{post_code,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      order_ip = #{order_ip,jdbcType=CHAR},
      pay_time = #{pay_time,jdbcType=TIMESTAMP},
      delivery_time = #{delivery_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      express_cname = #{express_cname,jdbcType=VARCHAR},
      express_kid = #{express_kid,jdbcType=CHAR},
      payment_id = #{payment_id,jdbcType=CHAR},
      payway = #{payway,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>