<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzPostsMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzPosts" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="post_author" property="post_author" jdbcType="BIGINT" />
    <result column="post_keywords" property="post_keywords" jdbcType="VARCHAR" />
    <result column="post_source" property="post_source" jdbcType="VARCHAR" />
    <result column="post_date" property="post_date" jdbcType="TIMESTAMP" />
    <result column="post_status" property="post_status" jdbcType="INTEGER" />
    <result column="comment_status" property="comment_status" jdbcType="INTEGER" />
    <result column="post_modified" property="post_modified" jdbcType="TIMESTAMP" />
    <result column="post_parent" property="post_parent" jdbcType="BIGINT" />
    <result column="post_type" property="post_type" jdbcType="INTEGER" />
    <result column="post_mime_type" property="post_mime_type" jdbcType="VARCHAR" />
    <result column="comment_count" property="comment_count" jdbcType="BIGINT" />
    <result column="post_hits" property="post_hits" jdbcType="INTEGER" />
    <result column="post_like" property="post_like" jdbcType="INTEGER" />
    <result column="istop" property="istop" jdbcType="BIT" />
    <result column="recommended" property="recommended" jdbcType="BIT" />
    <result column="start_date" property="start_date" jdbcType="TIMESTAMP" />
    <result column="end_date" property="end_date" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="original_price" property="original_price" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="SMALLINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="listorder" property="listorder" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="is_show" property="is_show" jdbcType="BIT" />
    <result column="commodity_id" property="commodity_id" jdbcType="VARCHAR" />
    <result column="review_id" property="review_id" jdbcType="INTEGER" />
    <result column="material_id" property="material_id" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emi.roots.entity.AzPostsWithBLOBs" extends="BaseResultMap" >
    <result column="post_content" property="post_content" jdbcType="LONGVARCHAR" />
    <result column="post_title" property="post_title" jdbcType="LONGVARCHAR" />
    <result column="post_link" property="post_link" jdbcType="LONGVARCHAR" />
    <result column="post_excerpt" property="post_excerpt" jdbcType="LONGVARCHAR" />
    <result column="post_content_filtered" property="post_content_filtered" jdbcType="LONGVARCHAR" />
    <result column="smeta" property="smeta" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, post_author, post_keywords, post_source, post_date, post_status, comment_status, 
    post_modified, post_parent, post_type, post_mime_type, comment_count, post_hits, 
    post_like, istop, recommended, start_date, end_date, price, original_price, number, 
    type, listorder, status, address, contacts, is_show, commodity_id, review_id, material_id
  </sql>
  <sql id="Blob_Column_List" >
    post_content, post_title, post_link, post_excerpt, post_content_filtered, smeta
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from az_posts
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from az_posts
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzPostsWithBLOBs" >
    insert into az_posts (id, post_author, post_keywords, 
      post_source, post_date, post_status, 
      comment_status, post_modified, post_parent, 
      post_type, post_mime_type, comment_count, 
      post_hits, post_like, istop, 
      recommended, start_date, end_date, 
      price, original_price, number, 
      type, listorder, status, 
      address, contacts, is_show, 
      commodity_id, review_id, material_id, 
      post_content, post_title, post_link, 
      post_excerpt, post_content_filtered, 
      smeta)
    values (#{id,jdbcType=BIGINT}, #{post_author,jdbcType=BIGINT}, #{post_keywords,jdbcType=VARCHAR}, 
      #{post_source,jdbcType=VARCHAR}, #{post_date,jdbcType=TIMESTAMP}, #{post_status,jdbcType=INTEGER}, 
      #{comment_status,jdbcType=INTEGER}, #{post_modified,jdbcType=TIMESTAMP}, #{post_parent,jdbcType=BIGINT}, 
      #{post_type,jdbcType=INTEGER}, #{post_mime_type,jdbcType=VARCHAR}, #{comment_count,jdbcType=BIGINT}, 
      #{post_hits,jdbcType=INTEGER}, #{post_like,jdbcType=INTEGER}, #{istop,jdbcType=BIT}, 
      #{recommended,jdbcType=BIT}, #{start_date,jdbcType=TIMESTAMP}, #{end_date,jdbcType=TIMESTAMP}, 
      #{price,jdbcType=VARCHAR}, #{original_price,jdbcType=VARCHAR}, #{number,jdbcType=SMALLINT}, 
      #{type,jdbcType=TINYINT}, #{listorder,jdbcType=SMALLINT}, #{status,jdbcType=BIT}, 
      #{address,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{is_show,jdbcType=BIT}, 
      #{commodity_id,jdbcType=VARCHAR}, #{review_id,jdbcType=INTEGER}, #{material_id,jdbcType=VARCHAR}, 
      #{post_content,jdbcType=LONGVARCHAR}, #{post_title,jdbcType=LONGVARCHAR}, #{post_link,jdbcType=LONGVARCHAR}, 
      #{post_excerpt,jdbcType=LONGVARCHAR}, #{post_content_filtered,jdbcType=LONGVARCHAR}, 
      #{smeta,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzPostsWithBLOBs" >
    insert into az_posts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="post_author != null" >
        post_author,
      </if>
      <if test="post_keywords != null" >
        post_keywords,
      </if>
      <if test="post_source != null" >
        post_source,
      </if>
      <if test="post_date != null" >
        post_date,
      </if>
      <if test="post_status != null" >
        post_status,
      </if>
      <if test="comment_status != null" >
        comment_status,
      </if>
      <if test="post_modified != null" >
        post_modified,
      </if>
      <if test="post_parent != null" >
        post_parent,
      </if>
      <if test="post_type != null" >
        post_type,
      </if>
      <if test="post_mime_type != null" >
        post_mime_type,
      </if>
      <if test="comment_count != null" >
        comment_count,
      </if>
      <if test="post_hits != null" >
        post_hits,
      </if>
      <if test="post_like != null" >
        post_like,
      </if>
      <if test="istop != null" >
        istop,
      </if>
      <if test="recommended != null" >
        recommended,
      </if>
      <if test="start_date != null" >
        start_date,
      </if>
      <if test="end_date != null" >
        end_date,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="original_price != null" >
        original_price,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="is_show != null" >
        is_show,
      </if>
      <if test="commodity_id != null" >
        commodity_id,
      </if>
      <if test="review_id != null" >
        review_id,
      </if>
      <if test="material_id != null" >
        material_id,
      </if>
      <if test="post_content != null" >
        post_content,
      </if>
      <if test="post_title != null" >
        post_title,
      </if>
      <if test="post_link != null" >
        post_link,
      </if>
      <if test="post_excerpt != null" >
        post_excerpt,
      </if>
      <if test="post_content_filtered != null" >
        post_content_filtered,
      </if>
      <if test="smeta != null" >
        smeta,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="post_author != null" >
        #{post_author,jdbcType=BIGINT},
      </if>
      <if test="post_keywords != null" >
        #{post_keywords,jdbcType=VARCHAR},
      </if>
      <if test="post_source != null" >
        #{post_source,jdbcType=VARCHAR},
      </if>
      <if test="post_date != null" >
        #{post_date,jdbcType=TIMESTAMP},
      </if>
      <if test="post_status != null" >
        #{post_status,jdbcType=INTEGER},
      </if>
      <if test="comment_status != null" >
        #{comment_status,jdbcType=INTEGER},
      </if>
      <if test="post_modified != null" >
        #{post_modified,jdbcType=TIMESTAMP},
      </if>
      <if test="post_parent != null" >
        #{post_parent,jdbcType=BIGINT},
      </if>
      <if test="post_type != null" >
        #{post_type,jdbcType=INTEGER},
      </if>
      <if test="post_mime_type != null" >
        #{post_mime_type,jdbcType=VARCHAR},
      </if>
      <if test="comment_count != null" >
        #{comment_count,jdbcType=BIGINT},
      </if>
      <if test="post_hits != null" >
        #{post_hits,jdbcType=INTEGER},
      </if>
      <if test="post_like != null" >
        #{post_like,jdbcType=INTEGER},
      </if>
      <if test="istop != null" >
        #{istop,jdbcType=BIT},
      </if>
      <if test="recommended != null" >
        #{recommended,jdbcType=BIT},
      </if>
      <if test="start_date != null" >
        #{start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="end_date != null" >
        #{end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null" >
        #{original_price,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="is_show != null" >
        #{is_show,jdbcType=BIT},
      </if>
      <if test="commodity_id != null" >
        #{commodity_id,jdbcType=VARCHAR},
      </if>
      <if test="review_id != null" >
        #{review_id,jdbcType=INTEGER},
      </if>
      <if test="material_id != null" >
        #{material_id,jdbcType=VARCHAR},
      </if>
      <if test="post_content != null" >
        #{post_content,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_title != null" >
        #{post_title,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_link != null" >
        #{post_link,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_excerpt != null" >
        #{post_excerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_content_filtered != null" >
        #{post_content_filtered,jdbcType=LONGVARCHAR},
      </if>
      <if test="smeta != null" >
        #{smeta,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzPostsWithBLOBs" >
    update az_posts
    <set >
      <if test="post_author != null" >
        post_author = #{post_author,jdbcType=BIGINT},
      </if>
      <if test="post_keywords != null" >
        post_keywords = #{post_keywords,jdbcType=VARCHAR},
      </if>
      <if test="post_source != null" >
        post_source = #{post_source,jdbcType=VARCHAR},
      </if>
      <if test="post_date != null" >
        post_date = #{post_date,jdbcType=TIMESTAMP},
      </if>
      <if test="post_status != null" >
        post_status = #{post_status,jdbcType=INTEGER},
      </if>
      <if test="comment_status != null" >
        comment_status = #{comment_status,jdbcType=INTEGER},
      </if>
      <if test="post_modified != null" >
        post_modified = #{post_modified,jdbcType=TIMESTAMP},
      </if>
      <if test="post_parent != null" >
        post_parent = #{post_parent,jdbcType=BIGINT},
      </if>
      <if test="post_type != null" >
        post_type = #{post_type,jdbcType=INTEGER},
      </if>
      <if test="post_mime_type != null" >
        post_mime_type = #{post_mime_type,jdbcType=VARCHAR},
      </if>
      <if test="comment_count != null" >
        comment_count = #{comment_count,jdbcType=BIGINT},
      </if>
      <if test="post_hits != null" >
        post_hits = #{post_hits,jdbcType=INTEGER},
      </if>
      <if test="post_like != null" >
        post_like = #{post_like,jdbcType=INTEGER},
      </if>
      <if test="istop != null" >
        istop = #{istop,jdbcType=BIT},
      </if>
      <if test="recommended != null" >
        recommended = #{recommended,jdbcType=BIT},
      </if>
      <if test="start_date != null" >
        start_date = #{start_date,jdbcType=TIMESTAMP},
      </if>
      <if test="end_date != null" >
        end_date = #{end_date,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null" >
        original_price = #{original_price,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="is_show != null" >
        is_show = #{is_show,jdbcType=BIT},
      </if>
      <if test="commodity_id != null" >
        commodity_id = #{commodity_id,jdbcType=VARCHAR},
      </if>
      <if test="review_id != null" >
        review_id = #{review_id,jdbcType=INTEGER},
      </if>
      <if test="material_id != null" >
        material_id = #{material_id,jdbcType=VARCHAR},
      </if>
      <if test="post_content != null" >
        post_content = #{post_content,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_title != null" >
        post_title = #{post_title,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_link != null" >
        post_link = #{post_link,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_excerpt != null" >
        post_excerpt = #{post_excerpt,jdbcType=LONGVARCHAR},
      </if>
      <if test="post_content_filtered != null" >
        post_content_filtered = #{post_content_filtered,jdbcType=LONGVARCHAR},
      </if>
      <if test="smeta != null" >
        smeta = #{smeta,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.emi.roots.entity.AzPostsWithBLOBs" >
    update az_posts
    set post_author = #{post_author,jdbcType=BIGINT},
      post_keywords = #{post_keywords,jdbcType=VARCHAR},
      post_source = #{post_source,jdbcType=VARCHAR},
      post_date = #{post_date,jdbcType=TIMESTAMP},
      post_status = #{post_status,jdbcType=INTEGER},
      comment_status = #{comment_status,jdbcType=INTEGER},
      post_modified = #{post_modified,jdbcType=TIMESTAMP},
      post_parent = #{post_parent,jdbcType=BIGINT},
      post_type = #{post_type,jdbcType=INTEGER},
      post_mime_type = #{post_mime_type,jdbcType=VARCHAR},
      comment_count = #{comment_count,jdbcType=BIGINT},
      post_hits = #{post_hits,jdbcType=INTEGER},
      post_like = #{post_like,jdbcType=INTEGER},
      istop = #{istop,jdbcType=BIT},
      recommended = #{recommended,jdbcType=BIT},
      start_date = #{start_date,jdbcType=TIMESTAMP},
      end_date = #{end_date,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=VARCHAR},
      number = #{number,jdbcType=SMALLINT},
      type = #{type,jdbcType=TINYINT},
      listorder = #{listorder,jdbcType=SMALLINT},
      status = #{status,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      is_show = #{is_show,jdbcType=BIT},
      commodity_id = #{commodity_id,jdbcType=VARCHAR},
      review_id = #{review_id,jdbcType=INTEGER},
      material_id = #{material_id,jdbcType=VARCHAR},
      post_content = #{post_content,jdbcType=LONGVARCHAR},
      post_title = #{post_title,jdbcType=LONGVARCHAR},
      post_link = #{post_link,jdbcType=LONGVARCHAR},
      post_excerpt = #{post_excerpt,jdbcType=LONGVARCHAR},
      post_content_filtered = #{post_content_filtered,jdbcType=LONGVARCHAR},
      smeta = #{smeta,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzPosts" >
    update az_posts
    set post_author = #{post_author,jdbcType=BIGINT},
      post_keywords = #{post_keywords,jdbcType=VARCHAR},
      post_source = #{post_source,jdbcType=VARCHAR},
      post_date = #{post_date,jdbcType=TIMESTAMP},
      post_status = #{post_status,jdbcType=INTEGER},
      comment_status = #{comment_status,jdbcType=INTEGER},
      post_modified = #{post_modified,jdbcType=TIMESTAMP},
      post_parent = #{post_parent,jdbcType=BIGINT},
      post_type = #{post_type,jdbcType=INTEGER},
      post_mime_type = #{post_mime_type,jdbcType=VARCHAR},
      comment_count = #{comment_count,jdbcType=BIGINT},
      post_hits = #{post_hits,jdbcType=INTEGER},
      post_like = #{post_like,jdbcType=INTEGER},
      istop = #{istop,jdbcType=BIT},
      recommended = #{recommended,jdbcType=BIT},
      start_date = #{start_date,jdbcType=TIMESTAMP},
      end_date = #{end_date,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=VARCHAR},
      number = #{number,jdbcType=SMALLINT},
      type = #{type,jdbcType=TINYINT},
      listorder = #{listorder,jdbcType=SMALLINT},
      status = #{status,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      is_show = #{is_show,jdbcType=BIT},
      commodity_id = #{commodity_id,jdbcType=VARCHAR},
      review_id = #{review_id,jdbcType=INTEGER},
      material_id = #{material_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>