<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzSignUpMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzSignUp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="sign_status" property="signStatus" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="BIT" />
    <result column="pay_status" property="payStatus" jdbcType="BIT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, object_id, sign_status, create_time, check_time, audit_status, pay_status, 
    order_id, comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from az_sign_up
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_sign_up
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzSignUp" >
    insert into az_sign_up (id, uid, object_id, 
      sign_status, create_time, check_time, 
      audit_status, pay_status, order_id, 
      comment)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, 
      #{signStatus,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=BIT}, #{payStatus,jdbcType=BIT}, #{orderId,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzSignUp" >
    insert into az_sign_up
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="signStatus != null" >
        sign_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="signStatus != null" >
        #{signStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=BIT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=BIT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzSignUp" >
    update az_sign_up
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="signStatus != null" >
        sign_status = #{signStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=BIT},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=BIT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzSignUp" >
    update az_sign_up
    set uid = #{uid,jdbcType=INTEGER},
      object_id = #{objectId,jdbcType=INTEGER},
      sign_status = #{signStatus,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=BIT},
      pay_status = #{payStatus,jdbcType=BIT},
      order_id = #{orderId,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>