<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzSofAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzSofAttachment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="object_id" property="objectId" jdbcType="INTEGER" />
    <result column="tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="praise_num" property="praiseNum" jdbcType="INTEGER" />
    <result column="click_num" property="clickNum" jdbcType="INTEGER" />
    <result column="reply_num" property="replyNum" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="TINYINT" />
    <result column="istop" property="istop" jdbcType="TINYINT" />
    <result column="ishot" property="ishot" jdbcType="TINYINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="listorder" property="listorder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, tablename, uid, create_time, update_time, state, url, size, praise_num, 
    click_num, reply_num, isdel, istop, ishot, title, type, listorder
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from az_sof_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_sof_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzSofAttachment" >
    insert into az_sof_attachment (id, object_id, tablename, 
      uid, create_time, update_time, 
      state, url, size, praise_num, 
      click_num, reply_num, isdel, 
      istop, ishot, title, 
      type, listorder)
    values (#{id,jdbcType=INTEGER}, #{objectId,jdbcType=INTEGER}, #{tablename,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{state,jdbcType=TINYINT}, #{url,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{praiseNum,jdbcType=INTEGER}, 
      #{clickNum,jdbcType=INTEGER}, #{replyNum,jdbcType=INTEGER}, #{isdel,jdbcType=TINYINT}, 
      #{istop,jdbcType=TINYINT}, #{ishot,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{listorder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzSofAttachment" >
    insert into az_sof_attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="tablename != null" >
        tablename,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="praiseNum != null" >
        praise_num,
      </if>
      <if test="clickNum != null" >
        click_num,
      </if>
      <if test="replyNum != null" >
        reply_num,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="istop != null" >
        istop,
      </if>
      <if test="ishot != null" >
        ishot,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="listorder != null" >
        listorder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=INTEGER},
      </if>
      <if test="tablename != null" >
        #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="praiseNum != null" >
        #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="clickNum != null" >
        #{clickNum,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=TINYINT},
      </if>
      <if test="istop != null" >
        #{istop,jdbcType=TINYINT},
      </if>
      <if test="ishot != null" >
        #{ishot,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzSofAttachment" >
    update az_sof_attachment
    <set >
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=INTEGER},
      </if>
      <if test="tablename != null" >
        tablename = #{tablename,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="praiseNum != null" >
        praise_num = #{praiseNum,jdbcType=INTEGER},
      </if>
      <if test="clickNum != null" >
        click_num = #{clickNum,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        reply_num = #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=TINYINT},
      </if>
      <if test="istop != null" >
        istop = #{istop,jdbcType=TINYINT},
      </if>
      <if test="ishot != null" >
        ishot = #{ishot,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="listorder != null" >
        listorder = #{listorder,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzSofAttachment" >
    update az_sof_attachment
    set object_id = #{objectId,jdbcType=INTEGER},
      tablename = #{tablename,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      state = #{state,jdbcType=TINYINT},
      url = #{url,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      praise_num = #{praiseNum,jdbcType=INTEGER},
      click_num = #{clickNum,jdbcType=INTEGER},
      reply_num = #{replyNum,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=TINYINT},
      istop = #{istop,jdbcType=TINYINT},
      ishot = #{ishot,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      listorder = #{listorder,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>