<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzUsersMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzUsers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_login" property="user_login" jdbcType="VARCHAR" />
    <result column="user_pass" property="user_pass" jdbcType="VARCHAR" />
    <result column="user_nicename" property="user_nicename" jdbcType="VARCHAR" />
    <result column="user_email" property="user_email" jdbcType="VARCHAR" />
    <result column="user_url" property="user_url" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="signature" property="signature" jdbcType="VARCHAR" />
    <result column="last_login_ip" property="last_login_ip" jdbcType="VARCHAR" />
    <result column="last_login_time" property="last_login_time" jdbcType="TIMESTAMP" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="user_activation_key" property="user_activation_key" jdbcType="VARCHAR" />
    <result column="user_status" property="user_status" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="user_type" property="user_type" jdbcType="SMALLINT" />
    <result column="coin" property="coin" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="follow_num" property="follow_num" jdbcType="INTEGER" />
    <result column="gag" property="gag" jdbcType="TINYINT" />
    <result column="oauth_id" property="oauth_id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_login, user_pass, user_nicename, user_email, user_url, avatar, sex, birthday, 
    signature, last_login_ip, last_login_time, create_time, user_activation_key, user_status, 
    score, user_type, coin, mobile, follow_num, gag, oauth_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from az_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzUsers" >
    insert into az_users (id, user_login, user_pass, 
      user_nicename, user_email, user_url, 
      avatar, sex, birthday, 
      signature, last_login_ip, last_login_time, 
      create_time, user_activation_key, user_status, 
      score, user_type, coin, 
      mobile, follow_num, gag, 
      oauth_id)
    values (#{id,jdbcType=INTEGER}, #{user_login,jdbcType=VARCHAR}, #{user_pass,jdbcType=VARCHAR}, 
      #{user_nicename,jdbcType=VARCHAR}, #{user_email,jdbcType=VARCHAR}, #{user_url,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT}, #{birthday,jdbcType=DATE}, 
      #{signature,jdbcType=VARCHAR}, #{last_login_ip,jdbcType=VARCHAR}, #{last_login_time,jdbcType=TIMESTAMP}, 
      #{create_time,jdbcType=TIMESTAMP}, #{user_activation_key,jdbcType=VARCHAR}, #{user_status,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{user_type,jdbcType=SMALLINT}, #{coin,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{follow_num,jdbcType=INTEGER}, #{gag,jdbcType=TINYINT}, 
      #{oauth_id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzUsers"  useGeneratedKeys="true" keyProperty="id">
    insert into az_users
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="user_login != null" >
        user_login,
      </if>
      <if test="user_pass != null" >
        user_pass,
      </if>
      <if test="user_nicename != null" >
        user_nicename,
      </if>
      <if test="user_email != null" >
        user_email,
      </if>
      <if test="user_url != null" >
        user_url,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="last_login_ip != null" >
        last_login_ip,
      </if>
      <if test="last_login_time != null" >
        last_login_time,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="user_activation_key != null" >
        user_activation_key,
      </if>
      <if test="user_status != null" >
        user_status,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="user_type != null" >
        user_type,
      </if>
      <if test="coin != null" >
        coin,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="follow_num != null" >
        follow_num,
      </if>
      <if test="gag != null" >
        gag,
      </if>
      <if test="oauth_id != null" >
        oauth_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="user_login != null" >
        #{user_login,jdbcType=VARCHAR},
      </if>
      <if test="user_pass != null" >
        #{user_pass,jdbcType=VARCHAR},
      </if>
      <if test="user_nicename != null" >
        #{user_nicename,jdbcType=VARCHAR},
      </if>
      <if test="user_email != null" >
        #{user_email,jdbcType=VARCHAR},
      </if>
      <if test="user_url != null" >
        #{user_url,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="last_login_ip != null" >
        #{last_login_ip,jdbcType=VARCHAR},
      </if>
      <if test="last_login_time != null" >
        #{last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="user_activation_key != null" >
        #{user_activation_key,jdbcType=VARCHAR},
      </if>
      <if test="user_status != null" >
        #{user_status,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="user_type != null" >
        #{user_type,jdbcType=SMALLINT},
      </if>
      <if test="coin != null" >
        #{coin,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="follow_num != null" >
        #{follow_num,jdbcType=INTEGER},
      </if>
      <if test="gag != null" >
        #{gag,jdbcType=TINYINT},
      </if>
      <if test="oauth_id != null" >
        #{oauth_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzUsers" >
    update az_users
    <set >
      <if test="user_login != null" >
        user_login = #{user_login,jdbcType=VARCHAR},
      </if>
      <if test="user_pass != null" >
        user_pass = #{user_pass,jdbcType=VARCHAR},
      </if>
      <if test="user_nicename != null" >
        user_nicename = #{user_nicename,jdbcType=VARCHAR},
      </if>
      <if test="user_email != null" >
        user_email = #{user_email,jdbcType=VARCHAR},
      </if>
      <if test="user_url != null" >
        user_url = #{user_url,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="last_login_ip != null" >
        last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
      </if>
      <if test="last_login_time != null" >
        last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="user_activation_key != null" >
        user_activation_key = #{user_activation_key,jdbcType=VARCHAR},
      </if>
      <if test="user_status != null" >
        user_status = #{user_status,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="user_type != null" >
        user_type = #{user_type,jdbcType=SMALLINT},
      </if>
      <if test="coin != null" >
        coin = #{coin,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="follow_num != null" >
        follow_num = #{follow_num,jdbcType=INTEGER},
      </if>
      <if test="gag != null" >
        gag = #{gag,jdbcType=TINYINT},
      </if>
      <if test="oauth_id != null" >
        oauth_id = #{oauth_id,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzUsers" >
    update az_users
    set user_login = #{user_login,jdbcType=VARCHAR},
      user_pass = #{user_pass,jdbcType=VARCHAR},
      user_nicename = #{user_nicename,jdbcType=VARCHAR},
      user_email = #{user_email,jdbcType=VARCHAR},
      user_url = #{user_url,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      birthday = #{birthday,jdbcType=DATE},
      signature = #{signature,jdbcType=VARCHAR},
      last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
      last_login_time = #{last_login_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      user_activation_key = #{user_activation_key,jdbcType=VARCHAR},
      user_status = #{user_status,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      user_type = #{user_type,jdbcType=SMALLINT},
      coin = #{coin,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      follow_num = #{follow_num,jdbcType=INTEGER},
      gag = #{gag,jdbcType=TINYINT},
      oauth_id = #{oauth_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="login" resultType="com.emi.roots.entity.AzUsers">
    select * from az_users a where a.mobile = '${phoneNum}'
  </select>

  <select id="getAzOauthUserByOpenid" resultType="com.emi.roots.entity.AzOauthUser">
    select * from az_oauth_user au where au.openid = '${openid}'


  </select>

  <update id="updateAzOauthUserWXinfo">
    update az_oauth_user
    <set>
      <if test="azOauthUser.head_img == null or azOauthUser.head_img=='' " >
        head_img = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="azOauthUser.name == null or azOauthUser.name=='' " >
        name = #{nickname,jdbcType=VARCHAR},
      </if>
    </set>

    where id =  #{id}

  </update>

  <select id="getvalidateCode" resultType="com.emi.roots.entity.AzValidatecode">
    select * from az_validatecode v where v.state = 0 and v.dn = '${phoneNum}' ORDER BY v.ctime desc LIMIT 0,1

  </select>


  <select id="getAzUsersByPhone" resultType="com.emi.roots.entity.AzUsers">
    select a.*,au.openid from az_users a
left join az_oauth_user au on au.uid = a.id
where a.mobile = '${phoneNum}'

  </select>



  <update id="updateCheckCode">

    update az_validatecode set state=1 where dn='${fjcode.dn}' and state=0

  </update>

  <insert id="insertCheckCode" >
    insert into az_validatecode(code,state,ctime,dn) values('${fjcheckcode.code}',${fjcheckcode.state},'${fjcheckcode.ctime}','${fjcheckcode.dn}')
  </insert>

  <update id="updateUserinfo">
UPDATE az_users au set au.avatar = '${avatar}',au.mobile = '${mobile}',au.user_nicename = '${user_nicename}' where au.id = '${id}'
  </update>

  <select id="getfollowMeUsers" resultType="com.emi.roots.entity.AzUsers">
  select * from az_users au where au.id in (
  select af.uid from az_follow af where af.tablename = 'users' and af.object_id = '${memberid}'
  )

</select>

  <select id="attentionUsers" resultType="com.emi.roots.entity.AzUsers">
    select * from az_users au where au.id in (
    select af.object_id from az_follow af where af.tablename = 'users' and af.uid = '${memberid}'
    )

  </select>

</mapper>