<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzWeixinOptionsLinkMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzWeixinOptionsLink" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="mp_id" property="mp_id" jdbcType="INTEGER" />
    <result column="is_creator" property="is_creator" jdbcType="TINYINT" />
    <result column="is_use" property="is_use" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emi.roots.entity.AzWeixinOptionsLink" extends="BaseResultMap" >
    <result column="addon_status" property="addon_status" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, mp_id, is_creator, is_use
  </sql>
  <sql id="Blob_Column_List" >
    addon_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from az_weixin_options_link
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_weixin_options_link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzWeixinOptionsLink" >
    insert into az_weixin_options_link (id, uid, mp_id, 
      is_creator, is_use, addon_status
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{mp_id,jdbcType=INTEGER}, 
      #{is_creator,jdbcType=TINYINT}, #{is_use,jdbcType=TINYINT}, #{addon_status,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzWeixinOptionsLink" >
    insert into az_weixin_options_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="mp_id != null" >
        mp_id,
      </if>
      <if test="is_creator != null" >
        is_creator,
      </if>
      <if test="is_use != null" >
        is_use,
      </if>
      <if test="addon_status != null" >
        addon_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mp_id != null" >
        #{mp_id,jdbcType=INTEGER},
      </if>
      <if test="is_creator != null" >
        #{is_creator,jdbcType=TINYINT},
      </if>
      <if test="is_use != null" >
        #{is_use,jdbcType=TINYINT},
      </if>
      <if test="addon_status != null" >
        #{addon_status,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzWeixinOptionsLink" >
    update az_weixin_options_link
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="mp_id != null" >
        mp_id = #{mp_id,jdbcType=INTEGER},
      </if>
      <if test="is_creator != null" >
        is_creator = #{is_creator,jdbcType=TINYINT},
      </if>
      <if test="is_use != null" >
        is_use = #{is_use,jdbcType=TINYINT},
      </if>
      <if test="addon_status != null" >
        addon_status = #{addon_status,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.emi.roots.entity.AzWeixinOptionsLink" >
    update az_weixin_options_link
    set uid = #{uid,jdbcType=INTEGER},
      mp_id = #{mp_id,jdbcType=INTEGER},
      is_creator = #{is_creator,jdbcType=TINYINT},
      is_use = #{is_use,jdbcType=TINYINT},
      addon_status = #{addon_status,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzWeixinOptionsLink" >
    update az_weixin_options_link
    set uid = #{uid,jdbcType=INTEGER},
      mp_id = #{mp_id,jdbcType=INTEGER},
      is_creator = #{is_creator,jdbcType=TINYINT},
      is_use = #{is_use,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>