<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.roots.mapper.AzWeixinOptionsMapper" >
  <resultMap id="BaseResultMap" type="com.emi.roots.entity.AzWeixinOptions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="app_name" property="app_name" jdbcType="VARCHAR" />
    <result column="app_user" property="app_user" jdbcType="VARCHAR" />
    <result column="app_wxid" property="app_wxid" jdbcType="VARCHAR" />
    <result column="interface_url" property="interface_url" jdbcType="VARCHAR" />
    <result column="headface_url" property="headface_url" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="is_use" property="is_use" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="app_id" property="app_id" jdbcType="VARCHAR" />
    <result column="app_secret" property="app_secret" jdbcType="VARCHAR" />
    <result column="app_token" property="app_token" jdbcType="VARCHAR" />
    <result column="app_key" property="app_key" jdbcType="VARCHAR" />
    <result column="group_id" property="group_id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.emi.roots.entity.AzWeixinOptionsWithBLOBs" extends="BaseResultMap" >
    <result column="welcome_config" property="welcome_config" jdbcType="LONGVARCHAR" />
    <result column="addon_status" property="addon_status" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, app_name, app_user, app_wxid, interface_url, headface_url, area, token, 
    is_use, type, app_id, app_secret, app_token, app_key, group_id
  </sql>
  <sql id="Blob_Column_List" >
    welcome_config, addon_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from az_weixin_options
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_weixin_options
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.roots.entity.AzWeixinOptionsWithBLOBs" >
    insert into az_weixin_options (id, uid, app_name, 
      app_user, app_wxid, interface_url, 
      headface_url, area, token, 
      is_use, type, app_id, 
      app_secret, app_token, app_key, 
      group_id, welcome_config, addon_status
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{app_name,jdbcType=VARCHAR}, 
      #{app_user,jdbcType=VARCHAR}, #{app_wxid,jdbcType=VARCHAR}, #{interface_url,jdbcType=VARCHAR}, 
      #{headface_url,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{is_use,jdbcType=TINYINT}, #{type,jdbcType=CHAR}, #{app_id,jdbcType=VARCHAR}, 
      #{app_secret,jdbcType=VARCHAR}, #{app_token,jdbcType=VARCHAR}, #{app_key,jdbcType=VARCHAR}, 
      #{group_id,jdbcType=INTEGER}, #{welcome_config,jdbcType=LONGVARCHAR}, #{addon_status,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.emi.roots.entity.AzWeixinOptionsWithBLOBs" >
    insert into az_weixin_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="app_name != null" >
        app_name,
      </if>
      <if test="app_user != null" >
        app_user,
      </if>
      <if test="app_wxid != null" >
        app_wxid,
      </if>
      <if test="interface_url != null" >
        interface_url,
      </if>
      <if test="headface_url != null" >
        headface_url,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="is_use != null" >
        is_use,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="app_id != null" >
        app_id,
      </if>
      <if test="app_secret != null" >
        app_secret,
      </if>
      <if test="app_token != null" >
        app_token,
      </if>
      <if test="app_key != null" >
        app_key,
      </if>
      <if test="group_id != null" >
        group_id,
      </if>
      <if test="welcome_config != null" >
        welcome_config,
      </if>
      <if test="addon_status != null" >
        addon_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="app_name != null" >
        #{app_name,jdbcType=VARCHAR},
      </if>
      <if test="app_user != null" >
        #{app_user,jdbcType=VARCHAR},
      </if>
      <if test="app_wxid != null" >
        #{app_wxid,jdbcType=VARCHAR},
      </if>
      <if test="interface_url != null" >
        #{interface_url,jdbcType=VARCHAR},
      </if>
      <if test="headface_url != null" >
        #{headface_url,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="is_use != null" >
        #{is_use,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="app_id != null" >
        #{app_id,jdbcType=VARCHAR},
      </if>
      <if test="app_secret != null" >
        #{app_secret,jdbcType=VARCHAR},
      </if>
      <if test="app_token != null" >
        #{app_token,jdbcType=VARCHAR},
      </if>
      <if test="app_key != null" >
        #{app_key,jdbcType=VARCHAR},
      </if>
      <if test="group_id != null" >
        #{group_id,jdbcType=INTEGER},
      </if>
      <if test="welcome_config != null" >
        #{welcome_config,jdbcType=LONGVARCHAR},
      </if>
      <if test="addon_status != null" >
        #{addon_status,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.roots.entity.AzWeixinOptionsWithBLOBs" >
    update az_weixin_options
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="app_name != null" >
        app_name = #{app_name,jdbcType=VARCHAR},
      </if>
      <if test="app_user != null" >
        app_user = #{app_user,jdbcType=VARCHAR},
      </if>
      <if test="app_wxid != null" >
        app_wxid = #{app_wxid,jdbcType=VARCHAR},
      </if>
      <if test="interface_url != null" >
        interface_url = #{interface_url,jdbcType=VARCHAR},
      </if>
      <if test="headface_url != null" >
        headface_url = #{headface_url,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="is_use != null" >
        is_use = #{is_use,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="app_id != null" >
        app_id = #{app_id,jdbcType=VARCHAR},
      </if>
      <if test="app_secret != null" >
        app_secret = #{app_secret,jdbcType=VARCHAR},
      </if>
      <if test="app_token != null" >
        app_token = #{app_token,jdbcType=VARCHAR},
      </if>
      <if test="app_key != null" >
        app_key = #{app_key,jdbcType=VARCHAR},
      </if>
      <if test="group_id != null" >
        group_id = #{group_id,jdbcType=INTEGER},
      </if>
      <if test="welcome_config != null" >
        welcome_config = #{welcome_config,jdbcType=LONGVARCHAR},
      </if>
      <if test="addon_status != null" >
        addon_status = #{addon_status,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.emi.roots.entity.AzWeixinOptionsWithBLOBs" >
    update az_weixin_options
    set uid = #{uid,jdbcType=INTEGER},
      app_name = #{app_name,jdbcType=VARCHAR},
      app_user = #{app_user,jdbcType=VARCHAR},
      app_wxid = #{app_wxid,jdbcType=VARCHAR},
      interface_url = #{interface_url,jdbcType=VARCHAR},
      headface_url = #{headface_url,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      is_use = #{is_use,jdbcType=TINYINT},
      type = #{type,jdbcType=CHAR},
      app_id = #{app_id,jdbcType=VARCHAR},
      app_secret = #{app_secret,jdbcType=VARCHAR},
      app_token = #{app_token,jdbcType=VARCHAR},
      app_key = #{app_key,jdbcType=VARCHAR},
      group_id = #{group_id,jdbcType=INTEGER},
      welcome_config = #{welcome_config,jdbcType=LONGVARCHAR},
      addon_status = #{addon_status,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.roots.entity.AzWeixinOptions" >
    update az_weixin_options
    set uid = #{uid,jdbcType=INTEGER},
      app_name = #{app_name,jdbcType=VARCHAR},
      app_user = #{app_user,jdbcType=VARCHAR},
      app_wxid = #{app_wxid,jdbcType=VARCHAR},
      interface_url = #{interface_url,jdbcType=VARCHAR},
      headface_url = #{headface_url,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      is_use = #{is_use,jdbcType=TINYINT},
      type = #{type,jdbcType=CHAR},
      app_id = #{app_id,jdbcType=VARCHAR},
      app_secret = #{app_secret,jdbcType=VARCHAR},
      app_token = #{app_token,jdbcType=VARCHAR},
      app_key = #{app_key,jdbcType=VARCHAR},
      group_id = #{group_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>