<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.ImmessageconfMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.instantmessaging.bean.Immessageconf" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accesstoken" property="accesstoken" jdbcType="VARCHAR" />
    <result column="application" property="application" jdbcType="VARCHAR" />
    <result column="expiresin" property="expiresin" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accesstoken, application, expiresin, ctime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from immessageconf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from immessageconf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.instantmessaging.bean.Immessageconf" >
    insert into immessageconf (id, accesstoken, application, 
      expiresin, ctime)
    values (#{id,jdbcType=INTEGER}, #{accesstoken,jdbcType=VARCHAR}, #{application,jdbcType=VARCHAR}, 
      #{expiresin,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.instantmessaging.bean.Immessageconf" >
    insert into immessageconf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accesstoken != null" >
        accesstoken,
      </if>
      <if test="application != null" >
        application,
      </if>
      <if test="expiresin != null" >
        expiresin,
      </if>
        ctime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null" >
        #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="expiresin != null" >
        #{expiresin,jdbcType=INTEGER},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.instantmessaging.bean.Immessageconf" >
    update immessageconf
    <set >
      <if test="accesstoken != null" >
        accesstoken = #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="expiresin != null" >
        expiresin = #{expiresin,jdbcType=INTEGER},
      </if>
        ctime = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.instantmessaging.bean.Immessageconf" >
    update immessageconf
    set accesstoken = #{accesstoken,jdbcType=VARCHAR},
      application = #{application,jdbcType=VARCHAR},
      expiresin = #{expiresin,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getImmessageconf" resultType="com.emi.emiservice.instantmessaging.bean.Immessageconf">
    SELECT * from immessageconf limit 0,1;
  </select>

</mapper>