<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.ImmessagechatgroupsmanagerMapper" >

    <insert id="insertmanager">
        <![CDATA[  insert into immessagechatgroupsmanager(chatgroupsid,owner)
       VALUES (#{chatgroupsid},#{owner})   ]]>
    </insert>

    <delete id="deletemanager">
        DELETE from immessagechatgroupsmanager where chatgroupsid = #{chatgroupsid} and  owner = #{owner}
    </delete>

    <select id="getagechatgroups" resultType="com.emi.emiservice.entity.Immessagechatgroupsmanager">
        SELECT * from immessagechatgroupsmanager  where chatgroupsid = #{chatgroupsid} and  owner = #{owner}
    </select>

    <update id="updatemanager">
        UPDATE immessagechatgroupsmanager set `type` = #{type}  where chatgroupsid = #{chatgroupsid} and  owner = #{owner}
    </update>
</mapper>