<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.MemapplyMapper" >

    <select id="getMemapply" resultType="com.emi.emiservice.entity.Memapply">
       select * FROM  memapply WHERE  memberid=#{memberid}
    </select>

    <select id="getMemapplys" resultType="com.emi.emiservice.entity.Memapply">
        select * FROM  memapply WHERE  memberid=#{memberid} AND type = #{type}
    </select>

    <insert id="insertmemapply" parameterType="com.emi.emiservice.entity.Memapply" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[  insert into memapply(memberid,ctime,province,provincecode,city,citycode,county,countycode,name,phonenum,companyname,positionname,type)
                 VALUES (#{memberid},now(),#{province},#{provincecode},#{city},#{citycode},#{county},#{countycode},#{name},#{phonenum},#{companyname},#{positionname},#{type})   ]]>
    </insert>

    <select id="FenPageapplicationpersonnel" resultType="com.emi.emiservice.entity.Memapply">
     <![CDATA[   select * FROM  memapply where 1=1  ]]>
        <if test="param!=null">
            <![CDATA[ AND name  LIKE "%${param}%" ]]>
        </if>
        <![CDATA[   ORDER BY id desc  ]]>
    </select>

    <update id="updatepays" >
        UPDATE memapply set pay=1 where id = #{memapplyid}
    </update>

    <select id="getMemapplyById" resultType="com.emi.emiservice.entity.Memapply">
        SELECT * from memapply where id=#{id}
    </select>

</mapper>