<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.MemberMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Member" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="headimg" property="headimg" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="phonenum" property="phonenum" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="companyname" property="companyname" jdbcType="VARCHAR" />
    <result column="positionid" property="positionid" jdbcType="INTEGER" />
    <result column="industrycode" property="industrycode" jdbcType="VARCHAR" />
    <result column="synopsis" property="synopsis" jdbcType="VARCHAR" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="neednum" property="neednum" jdbcType="INTEGER" />
    <result column="commentnum" property="commentnum" jdbcType="INTEGER" />
    <result column="fansnum" property="fansnum" jdbcType="INTEGER" />
    <result column="agreenum" property="agreenum" jdbcType="INTEGER" />
    <result column="serviceorgid" property="serviceorgid" jdbcType="INTEGER" />
    <result column="privatepositionid" property="privatepositionid" jdbcType="INTEGER" />
    <result column="titlecode" property="titlecode" jdbcType="VARCHAR" />
    <result column="isauthentication" property="isauthentication" jdbcType="INTEGER" />
    <result column="familiarfield" property="familiarfield" jdbcType="VARCHAR" />
    <result column="tomeet" property="tomeet" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="tfcitys" property="tfcitys" jdbcType="VARCHAR" />
    <result column="countrylikes" property="countrylikes" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="hometown" property="hometown" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="provincecode" property="provincecode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="citycode" property="citycode" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="countycode" property="countycode" jdbcType="VARCHAR" />
    <result column="refereeid" property="refereeid" jdbcType="INTEGER" />
    <result column="regtime" property="regtime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="canusecoupon" property="canusecoupon" jdbcType="DECIMAL" />
    <result column="frozencoupon" property="frozencoupon" jdbcType="DECIMAL" />
    <result column="companyaddress" property="companyaddress" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, headimg, name, sex, phonenum, password, companyname, positionid, industrycode, synopsis,
    slogan, neednum, commentnum, fansnum, agreenum, serviceorgid,
    titlecode, isauthentication, familiarfield, tomeet, hobby, tfcitys, countrylikes,
    school, hometown, province, provincecode, city,
    citycode, county, countycode, refereeid, regtime, balance, canusecoupon, frozencoupon,companyaddress
  </sql>
  <select id="selectByPrimaryKey" resultType="com.emi.emiservice.entity.Member" parameterType="java.lang.Integer" >
    select 
    *
    from member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Member" >
    insert into member (id, headimg, name, 
      sex, phonenum, password, 
      companyname, position, industryid,
      synopsis, slogan, neednum, 
      commentnum, fansnum, agreenum, 
      serviceorgid, servicepositionid, servocetitle, 
      isauthentication, familiarfield, tomeet, 
      hobby, tfcitys, countrylikes, 
      school, hometown, iscover, 
      isconnection, isstrongest, province, 
      provincecode, city, citycode, 
      county, countycode, refereeid, 
      regtime, balance, canusecoupon, 
      frozencoupon)
    values (#{id,jdbcType=INTEGER}, #{headimg,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{phonenum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{companyname,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{industryid,jdbcType=INTEGER},
      #{synopsis,jdbcType=VARCHAR}, #{slogan,jdbcType=VARCHAR}, #{neednum,jdbcType=INTEGER}, 
      #{commentnum,jdbcType=INTEGER}, #{fansnum,jdbcType=INTEGER}, #{agreenum,jdbcType=INTEGER}, 
      #{serviceorgid,jdbcType=INTEGER}, #{servicepositionid,jdbcType=INTEGER}, #{servocetitle,jdbcType=VARCHAR}, 
      #{isauthentication,jdbcType=INTEGER}, #{familiarfield,jdbcType=VARCHAR}, #{tomeet,jdbcType=VARCHAR}, 
      #{hobby,jdbcType=VARCHAR}, #{tfcitys,jdbcType=VARCHAR}, #{countrylikes,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{hometown,jdbcType=VARCHAR}, #{iscover,jdbcType=INTEGER}, 
      #{isconnection,jdbcType=INTEGER}, #{isstrongest,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, 
      #{provincecode,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{citycode,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{countycode,jdbcType=VARCHAR}, #{refereeid,jdbcType=INTEGER}, 
      #{regtime,jdbcType=TIMESTAMP}, #{balance,jdbcType=DECIMAL}, #{canusecoupon,jdbcType=DECIMAL}, 
      #{frozencoupon,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Member" >
    insert into member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="headimg != null" >
        headimg,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="companyname != null" >
        companyname,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="industryid != null" >
        industryid,
      </if>
      <if test="synopsis != null" >
        synopsis,
      </if>
      <if test="slogan != null" >
        slogan,
      </if>
      <if test="neednum != null" >
        neednum,
      </if>
      <if test="commentnum != null" >
        commentnum,
      </if>
      <if test="fansnum != null" >
        fansnum,
      </if>
      <if test="agreenum != null" >
        agreenum,
      </if>
      <if test="serviceorgid != null" >
        serviceorgid,
      </if>
      <if test="servicepositionid != null" >
        servicepositionid,
      </if>
      <if test="servocetitle != null" >
        servocetitle,
      </if>
      <if test="isauthentication != null" >
        isauthentication,
      </if>
      <if test="familiarfield != null" >
        familiarfield,
      </if>
      <if test="tomeet != null" >
        tomeet,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="tfcitys != null" >
        tfcitys,
      </if>
      <if test="countrylikes != null" >
        countrylikes,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="hometown != null" >
        hometown,
      </if>
      <if test="iscover != null" >
        iscover,
      </if>
      <if test="isconnection != null" >
        isconnection,
      </if>
      <if test="isstrongest != null" >
        isstrongest,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="provincecode != null" >
        provincecode,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="citycode != null" >
        citycode,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="countycode != null" >
        countycode,
      </if>
      <if test="refereeid != null" >
        refereeid,
      </if>
      <if test="regtime != null" >
        regtime,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="canusecoupon != null" >
        canusecoupon,
      </if>
      <if test="frozencoupon != null" >
        frozencoupon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="headimg != null" >
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="industryid != null" >
        #{industryid,jdbcType=INTEGER},
      </if>
      <if test="synopsis != null" >
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null" >
        #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="neednum != null" >
        #{neednum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null" >
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="fansnum != null" >
        #{fansnum,jdbcType=INTEGER},
      </if>
      <if test="agreenum != null" >
        #{agreenum,jdbcType=INTEGER},
      </if>
      <if test="serviceorgid != null" >
        #{serviceorgid,jdbcType=INTEGER},
      </if>
      <if test="servicepositionid != null" >
        #{servicepositionid,jdbcType=INTEGER},
      </if>
      <if test="servocetitle != null" >
        #{servocetitle,jdbcType=VARCHAR},
      </if>
      <if test="isauthentication != null" >
        #{isauthentication,jdbcType=INTEGER},
      </if>
      <if test="familiarfield != null" >
        #{familiarfield,jdbcType=VARCHAR},
      </if>
      <if test="tomeet != null" >
        #{tomeet,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="tfcitys != null" >
        #{tfcitys,jdbcType=VARCHAR},
      </if>
      <if test="countrylikes != null" >
        #{countrylikes,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null" >
        #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="iscover != null" >
        #{iscover,jdbcType=INTEGER},
      </if>
      <if test="isconnection != null" >
        #{isconnection,jdbcType=INTEGER},
      </if>
      <if test="isstrongest != null" >
        #{isstrongest,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        #{provincecode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="countycode != null" >
        #{countycode,jdbcType=VARCHAR},
      </if>
      <if test="refereeid != null" >
        #{refereeid,jdbcType=INTEGER},
      </if>
      <if test="regtime != null" >
        #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
      <if test="canusecoupon != null" >
        #{canusecoupon,jdbcType=DECIMAL},
      </if>
      <if test="frozencoupon != null" >
        #{frozencoupon,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Member" >
    update member
    <set >
      <if test="headimg != null" >
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>

      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>

      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>


      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password != ''" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        companyname = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="positionid != null" >
        positionid = #{positionid,jdbcType=INTEGER},
      </if>
      <if test="industrycode != null" >
        industrycode = #{industrycode,jdbcType=VARCHAR},
      </if>
      <if test="synopsis != null" >
        synopsis = #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="slogan != null" >
        slogan = #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="neednum != null" >
        neednum = #{neednum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null" >
        commentnum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="fansnum != null" >
        fansnum = #{fansnum,jdbcType=INTEGER},
      </if>
      <if test="agreenum != null" >
        agreenum = #{agreenum,jdbcType=INTEGER},
      </if>
      <if test="serviceorgid != null" >
        serviceorgid = #{serviceorgid,jdbcType=INTEGER},
      </if>

      <if test="privatepositionid != null" >
        privatepositionid = #{privatepositionid,jdbcType=INTEGER},
      </if>
      <if test="titlecode != null" >
        titlecode = #{titlecode,jdbcType=VARCHAR},
      </if>
      <if test="isauthentication != null" >
        isauthentication = #{isauthentication,jdbcType=INTEGER},
      </if>
      <if test="familiarfield != null" >
        familiarfield = #{familiarfield,jdbcType=VARCHAR},
      </if>
      <if test="tomeet != null" >
        tomeet = #{tomeet,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="tfcitys != null" >
        tfcitys = #{tfcitys,jdbcType=VARCHAR},
      </if>
      <if test="countrylikes != null" >
        countrylikes = #{countrylikes,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null" >
        hometown = #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="iscover != null" >
        iscover = #{iscover,jdbcType=INTEGER},
      </if>
      <if test="isconnection != null" >
        isconnection = #{isconnection,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provincecode != null" >
        provincecode = #{provincecode,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        citycode = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="countycode != null" >
        countycode = #{countycode,jdbcType=VARCHAR},
      </if>
      <if test="refereeid != null" >
        refereeid = #{refereeid,jdbcType=INTEGER},
      </if>
      <if test="regtime != null" >
        regtime = #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=DECIMAL},
      </if>
      <if test="canusecoupon != null" >
        canusecoupon = #{canusecoupon,jdbcType=DECIMAL},
      </if>
      <if test="frozencoupon != null" >
        frozencoupon = #{frozencoupon,jdbcType=DECIMAL},
      </if>

      <if test="companynum != null" >
        companynum = #{companynum,jdbcType=INTEGER},
      </if>
      <if test="companyaddress != null" >
        companyaddress = #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="companycharacteristics != null" >
        companycharacteristics = #{companycharacteristics,jdbcType=VARCHAR},
      </if>
      <if test="mainbusiness != null" >
        mainbusiness = #{mainbusiness,jdbcType=VARCHAR},
      </if>
      <if test="businessadvantage != null" >
        businessadvantage = #{businessadvantage,jdbcType=VARCHAR},
      </if>
      <if test="customerwitness != null" >
        customerwitness = #{customerwitness,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null" >
        isprivate = #{isprivate,jdbcType=VARCHAR},
      </if>
      <if test="memberlevel != null" >
        memberlevel = #{memberlevel,jdbcType=INTEGER},
      </if>
      <if test="companybrefname != null" >
        companybrefname = #{companybrefname,jdbcType=INTEGER},
      </if>


    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Member" >
    update member
    set headimg = #{headimg,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      companyname = #{companyname,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      industryid = #{industryid,jdbcType=INTEGER},
      synopsis = #{synopsis,jdbcType=VARCHAR},
      slogan = #{slogan,jdbcType=VARCHAR},
      neednum = #{neednum,jdbcType=INTEGER},
      commentnum = #{commentnum,jdbcType=INTEGER},
      fansnum = #{fansnum,jdbcType=INTEGER},
      agreenum = #{agreenum,jdbcType=INTEGER},
      serviceorgid = #{serviceorgid,jdbcType=INTEGER},
      servicepositionid = #{servicepositionid,jdbcType=INTEGER},
      servocetitle = #{servocetitle,jdbcType=VARCHAR},
      isauthentication = #{isauthentication,jdbcType=INTEGER},
      familiarfield = #{familiarfield,jdbcType=VARCHAR},
      tomeet = #{tomeet,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      tfcitys = #{tfcitys,jdbcType=VARCHAR},
      countrylikes = #{countrylikes,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      hometown = #{hometown,jdbcType=VARCHAR},
      iscover = #{iscover,jdbcType=INTEGER},
      isconnection = #{isconnection,jdbcType=INTEGER},
      isstrongest = #{isstrongest,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      provincecode = #{provincecode,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      citycode = #{citycode,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      countycode = #{countycode,jdbcType=VARCHAR},
      refereeid = #{refereeid,jdbcType=INTEGER},
      regtime = #{regtime,jdbcType=TIMESTAMP},
      balance = #{balance,jdbcType=DECIMAL},
      canusecoupon = #{canusecoupon,jdbcType=DECIMAL},
      frozencoupon = #{frozencoupon,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getFenPageMember" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[
      SELECT mem.*,idus.name industryname,mp.name positionname,fp.name privatepositionname,mo.name serviceorgname from member mem
      left join industry idus on mem.industrycode=idus.code
      left join position mp on mem.positionid=mp.id
      left join position fp on mem.privatepositionid=fp.id
      left join org mo on mem.serviceorgid=mo.id
    ]]>
    <if test="param != null" >
      where (mem.name  LIKE "%${param}%" or mem.phonenum  LIKE "%${param}%")
    </if>
    order by id desc

  </select>

  <select id="getAllMember" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[
      SELECT mem.*,idus.name industryname,mp.name positionname,fp.name privatepositionname,mo.name serviceorgname from member mem
      left join industry idus on mem.industrycode=idus.code
      left join position mp on mem.positionid=mp.id
      left join position fp on mem.privatepositionid=fp.id
      left join org mo on mem.serviceorgid=mo.id
    ]]>
    <if test="param != null" >
      where (mem.name  LIKE "%${param}%" or mem.phonenum  LIKE "%${param}%")
    </if>
    order by id desc

  </select>

  <select id="getMemberById" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[
      SELECT mem.*,idus.name industryname,mp.name positionname,fp.name privatepositionname,mo.name serviceorgname from member mem
      left join industry idus on mem.industrycode=idus.code
      left join position mp on mem.positionid=mp.id
      left join position fp on mem.privatepositionid=fp.id
      left join org mo on mem.serviceorgid=mo.id
      where mem.id=#{id}
    ]]>

  </select>

  <!--SELECT mem.*,idus.name industryname,mp.name positionname,fp.name privatepositionname,mo.name serviceorgname from member mem
  left join industry idus on mem.industrycode=idus.code
  left join position mp on mem.positionid=mp.id
  left join position fp on mem.privatepositionid=fp.id
  left join org mo on mem.serviceorgid=mo.id
  where mem.id=#{id}-->
  <select id="getMemberinfoById" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[
           SELECT mem.*,idus.name industryname,mp.name positionname,fp.name privatepositionname,mo.name serviceorgname
            ,mg.id recommendid,mg.name recommendname,mg.headimg recommendheadimg,mg.companyname recommendcompanyname,poa.name recommendpositionname
            from member mem
            left join industry idus on mem.industrycode=idus.code
            left join position mp on mem.positionid=mp.id
            left join position fp on mem.privatepositionid=fp.id
            left join org mo on mem.serviceorgid=mo.id
            LEFT JOIN  member mg ON mem.refereeid=mg.id
            left join position poa on mg.positionid=poa.id
            where mem.id= #{id}
    ]]>

  </select>


  <select id="getMemberByOpenid" resultType="com.emi.emiservice.entity.Member">
    select * from member m where m.openid = '${openid}'

  </select>

  <update id="updateMemberWXinfo">
    update member
    <set>
    <if test="member.headimg == null or member.headimg=='' " >
      headimg = #{headimgurl,jdbcType=VARCHAR},
    </if>
    <if test="member.name == null or member.name=='' " >
      name = #{nickname,jdbcType=VARCHAR},
    </if>
    </set>

    where id =  #{id}

  </update>




  <select id="getvalidateCode" resultType="com.emi.emiservice.entity.Validatecode">
    select * from validatecode v where v.state = 0 and v.dn = '${phoneNum}' ORDER BY v.ctime desc LIMIT 0,1

  </select>


  <update id="updatePasswordByphone" >
    UPDATE member m set m.`password` = '${password}' where m.phonenum = '${phoneNum}'

  </update>


  <insert id="insertWXinfo" parameterType="com.emi.emiservice.entity.Member" useGeneratedKeys="true" keyProperty="id">
    INSERT into member(openid,openname,openheadimg,name,headimg,phonenum,password,citycode,city,registip,regtime,commonuuid,unionid) VALUES (#{openid},#{openname},#{openheadimg},#{openname},#{openheadimg},#{phonenum},#{password},#{citycode},#{city},#{registip},now(),#{commonuuid},#{unionid});

  </insert>


  <insert id="addMemberphoneandpassword" useGeneratedKeys="true" keyProperty="id" parameterType="com.emi.emiservice.entity.Member">
   <![CDATA[  insert into member(phonenum,password,regtime,name,citycode,city,registip,commonuuid,unionid,refereeid) VALUES(#{phonenum},#{password},now(),#{name},#{citycode},#{city},#{registip},#{commonuuid},#{unionid},#{refereeid});  ]]>

  </insert>

  <!--select m.* from member m where ifnull(m.titlecode,'') <> '' and ifnull(m.titlecode,'') <> '&#45;&#45;' ORDER BY m.regtime-->
  <select id="getMemberisstrongest" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[  SELECT CASE WHEN g.toid=m.id THEN 1
               ELSE 0 END as friends,
               m.* FROM immessagefriends g
               RIGHT JOIN member m ON g.toid=m.id AND g.fromid= #{memberid}
             WHERE ifnull(m.titlecode,'') <> '' ORDER BY m.regtime
   ]]>
  </select>


  <select id="login" resultType="com.emi.emiservice.entity.Member">
  select * from member m where m.phonenum = '${phoneNum}'

  </select>

 <!-- select * from member m where  isprivate=1 and  m.isdelete = 0-->
  <select id="getFenPageMemberRM" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[ select  CASE WHEN g.toid=m.id THEN 1
           ELSE 0 END as friends,
            m.* from member m
			 LEFT JOIN immessagefriends g ON g.toid=m.id AND g.fromid= #{memberid}
				where  isprivate=1 and  m.isdelete = 0 ]]>

<if test="param != null">
  ${param}
</if>

  </select>

  <!--<![CDATA[ select * from member m where m.isdelete = 0 and ifnull(m.titlecode,'') <> '' and ifnull(m.titlecode,'') <> '&#45;&#45;'  ]]>-->
  <select id="getFenPageMemberDS" resultType="com.emi.emiservice.entity.Member">
    <![CDATA[ select CASE WHEN g.toid=m.id THEN 1
             ELSE 0 END as friends,
           m.* from member m
           LEFT JOIN immessagefriends g ON g.toid=m.id AND g.fromid= #{memberid}
       where m.isdelete = 0 and ifnull(m.titlecode,'') <> ''   ]]>

    <if test="param != null">
      ${param}
    </if>

  </select>


  <select id="getCityCodeByCityname" resultType="java.util.Map">
    select a.`code` citycode,shortname from area a where a.`name` like '%${city}%' and isprovincecity=1 limit 0,1;
  </select>


  <select id="getMemberByphoneNum" resultType="com.emi.emiservice.entity.Member">
    select * from member m where m.phonenum = '${phoneNum}'

  </select>


    <update id="updateMemberByperfectAccount" >
UPDATE member m set m.`name` = '${name}' ,m.positionid = '${positionid}',m.companyname = '${companyname}' where m.id = '${memberid}'
    </update>


  <update id="updatefansnumBytomemberid" >
UPDATE member m set m.fansnum = ifnull(m.fansnum,0) -1 where m.id = '${tomemberid}'

  </update>
  <update id="addupdatefansnumBytomemberid" >
    UPDATE member m set m.fansnum = ifnull(m.fansnum,0) +1 where m.id = '${tomemberid}'

  </update>




  <update id="updatecommentnumBymemberid" >
    UPDATE member m set m.commentnum = ifnull(m.commentnum,0) +1 where m.id = '${tomemberid}'

  </update>


  <update id="updateagreenumBymemberid" >
    UPDATE member m set m.agreenum = ifnull(m.agreenum,0) +1 where m.id = '${tomemberid}'

  </update>

  <update id="addupdatecommentnum" >
    UPDATE member m set m.commentnum = ifnull(m.commentnum,0) +1 where m.id = '${tomemberid}'

  </update>



  <select id="getFenPageMyRecommendedMemberList" resultType="com.emi.emiservice.entity.Member">
select * from member m where m.refereeid = '${memberid}'

  </select>


  <select id="getFenPageMyFollowedMember" resultType="com.emi.emiservice.entity.Member">
    select * from member m where m.id in (
	select mf.tomemberid from memfollow mf where mf.memberid = '${memberid}'
    )
  </select>


  <update id="updateSetIspublic">
    UPDATE member m set m.ispublic = '${ispublic}' where m.id = '${memberid}'

  </update>

  <select id="getFenPageNearbyMember" resultType="com.emi.emiservice.entity.Memberbrcf">
    <![CDATA[ select CASE WHEN g.toid=m.id THEN 1
             ELSE 0 END as friends,
             m.* from member m
			 LEFT JOIN immessagefriends g ON g.toid=m.id AND g.fromid= #{memberid}
    where sqrt(
    (
    ((${longitude}-longitude)*PI()*12656*cos(((${latitude}+latitude)/2)*PI()/180)/180)
    *
    ((${longitude}-longitude)*PI()*12656*cos (((${latitude}+latitude)/2)*PI()/180)/180)
    )
    +
    (
    ((${latitude}-latitude)*PI()*12656/180)
    *
    ((${latitude}-latitude)*PI()*12656/180)
    )
    )<${juli} and m.ID<>#{memberid} and isprivate=1

    order by

    sqrt(
    (
    ((${longitude}-longitude)*PI()*12656*cos(((${latitude}+latitude)/2)*PI()/180)/180)
    *
    ((${longitude}-longitude)*PI()*12656*cos (((${latitude}+latitude)/2)*PI()/180)/180)
    )
    +
    (
    ((${latitude}-latitude)*PI()*12656/180)
    *
    ((${latitude}-latitude)*PI()*12656/180)
    )
    )

 ]]>
  </select>


  <select id="getUsedNumBymemberid" resultType="java.util.Map">
select COUNT(*) usenum from memservice ms where ms.isdelete = 0 and ms.memberid = '${memberid}'
and  DATE_FORMAT(DATE_ADD(ms.ctime,INTERVAL 30 DAY),'%Y-%m-%d')  >  DATE_FORMAT(NOW(),'%Y-%m-%d')


  </select>

  <select id="getMemberimgsListBymemberid" resultType="com.emi.emiservice.entity.Memimgs">

select * from memimgs mi where mi.memberid = '${memberid}' order by mi.ctime desc
  </select>


  <update id="updateMemberPassword">
      update member m set m.`password` = '${newpassword}' where m.id = '${id}'
  </update>

  <insert id="addMemimgsList"  parameterType="com.emi.emiservice.entity.Memimgs" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[ insert into memimgs (memberid,imgurl,ctime) values ]]>
    <foreach collection="list" index="index" item="item" open="" close="" separator="," >
      <![CDATA[    (#{item.memberid},#{item.imgurl},now()) ]]>
    </foreach>


  </insert>


  <delete id="delMemimgsByid">

    DELETE from memimgs where id = '${id}'
  </delete>


  <update id="updateMemNum" parameterType="com.emi.emiservice.entity.Member" >
    update member
    <set >

      <if test="neednum != null" >
        neednum =ifnull(neednum,0)+1 ,
      </if>
      <if test="commentnum != null" >
        commentnum = ifnull(commentnum,0)+1,
      </if>
      <if test="fansnum != null" >
        fansnum = ifnull(fansnum,0)+1,
      </if>
      <if test="agreenum != null" >
        agreenum = ifnull(agreenum,0)+1,
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getphonenum" resultType="com.emi.emiservice.entity.Member">
    select * from member where phonenum=#{phonenum} AND isdelete=0
  </select>

  <insert id="addmemberregister">
  <![CDATA[ insert into member (phonenum,password,refereeid,regtime,name) values
          (#{phonenum},#{password},#{refereeid},now(),#{name}) ]]>
</insert>


  <!--select m.`name`,m.headimg ,m.phonenum,m.companyname from member m where m.isdelete = 0 and m.isprivate=1-->
  <select id="getCommumicationBookPrivate" resultType="java.util.Map">
    <![CDATA[
          select CASE WHEN g.toid=m.id THEN 1
                   ELSE 0 END as friends,
                   m.`name`,m.headimg ,m.phonenum,m.companyname,m.id
                        from member m
                        LEFT JOIN immessagefriends g ON g.toid=m.id AND g.fromid= #{memberid}
                        where m.isdelete = 0 and m.isprivate=1
    ]]>

    <if test="citycode != null" >
      and m.citycode = '${citycode}'
    </if>

  </select>

  <!--SELECT o.`name`,o.phonenum,o.headimg from orgperson o LEFT JOIN org og on o.orgid=og.id-->
  <select id="getCommumicationBookService" resultType="com.emi.emiservice.entity.Orgperson">
      SELECT o.`name`,o.phonenum,o.headimg, m.id,
      CASE WHEN g.toid=m.id THEN 1
      ELSE 0 END as friends
      from orgperson o
      LEFT JOIN member m ON m.phonenum=o.phonenum
      LEFT JOIN immessagefriends g ON g.toid=m.id AND g.fromid= #{memberid}
      LEFT JOIN org og on o.orgid=og.id where ifnull(m.id,'')!=''
    <if test=" citycode != null" >
      and og.citycode = '${citycode}'
    </if>

  </select>


  <update id="wxPerfectDn" parameterType="com.emi.emiservice.entity.Member">
      UPDATE member m set m.`openid` = #{openid} ,m.unionid = #{unionid},m.openname = #{openname},m.openheadimg = #{openheadimg},m.password = #{password} where m.phonenum = #{phonenum}

  </update>


  <update id="uptUnionId" parameterType="com.emi.emiservice.entity.Member">
    UPDATE member m set m.unionid = #{unionid} where m.id = #{id}

  </update>


  <select id="memberList" resultType="java.util.Map">
    SELECT id,name,headimg from member where name like '%${keyword}%' or phonenum like '%${keyword}%' limit 0,10;
  </select>

  <update id="uptMemCommonuuid">
    UPDATE member  set commonuuid = #{commonuuid}  where id = #{memberid}

  </update>

  <select id="getMemapplyByOrderId" resultType="com.emi.emiservice.entity.Memapply">
    select * from memapply ma where ma.id = '${orderid}'

  </select>


  <update id="updateMemapplyStateByid" >

    UPDATE memapply m set m.pay = 1 where m.id = '${orderid}'
  </update>

  <select id="getemployee" resultType="com.emi.emiservice.entity.Member">
     SELECT m.* from  member m,orgperson o WHERE o.phonenum=m.phonenum ORDER BY id asc
  </select>

  <select id="orgmemeberperson" resultType="com.emi.emiservice.entity.Member">
   SELECT m.* FROM immessagechatgroupsmanager g,member m,org o WHERE m.id=g.`owner` AND g.chatgroupsid=o.chatgroupsid AND g.type=0 AND o.id= #{orgid}
  </select>


  <update id="updateOpenidAndImgByMemberid">
    UPDATE member m set m.unionid = '${unionid}',m.headimg ='${openheadimg}' ,m.name ='${openname}',m.openheadimg ='${openheadimg}' ,m.openname ='${openname}',m.openidbyservicegzh='${openidbyservicegzh}' where m.id = '${memberid}'
  </update>

  <select id="getMemberOnlyById" resultType="com.emi.emiservice.entity.Member">
    select * from member m where m.id = '${memberid}'

  </select>

  <select id="removemeberperson" resultType="com.emi.emiservice.entity.Member">
      SELECT
          m.*
      FROM
          org o,
          immessagechatgroupsmanager g,
          member m
      WHERE
          o.chatgroupsid = g.chatgroupsid
      AND g.`owner` = m.id AND o.id=#{orgid} AND type=1
      ORDER BY
      m.id ASC
  </select>

  <select id="getbusinesscardclip" resultType="com.emi.emiservice.entity.Member">
     SELECT m1.* FROM member m,immessagefriends g,member m1 where g.fromid=m.id AND m.id= #{memberid} AND m1.id=g.toid
  </select>


  <select id="getMemberByUnionid" resultType="com.emi.emiservice.entity.Member">
    select * from member m where m.unionid = #{unionid}

  </select>


  <select id="getMemMap" resultType="java.lang.String">
      SELECT id from member where 1=1 ${condition};
  </select>

  <select id="getFenPagebusinesscardclip" resultType="com.emi.emiservice.entity.Member">
    SELECT m1.* FROM member m,immessagefriends g,member m1 where g.fromid=m.id AND m.id= #{memberid} AND m1.id=g.toid
  </select>

  <select id="getMemberByOpenidByservicegzh" resultType="com.emi.emiservice.entity.Member">
    select * from member m where m.openidbyservicegzh = #{openidbyservicegzh}

  </select>

</mapper>

