<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.MemimpressionMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Memimpression" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="tomemberid" property="tomemberid" jdbcType="INTEGER" />
    <result column="baseid" property="baseid" jdbcType="INTEGER" />
    <result column="impressionname" property="impressionname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memberid, tomemberid, baseid, impressionname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from memimpression
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from memimpression
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Memimpression" >
    insert into memimpression (id, memberid, tomemberid, 
      baseid, impressionname)
    values (#{id,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, #{tomemberid,jdbcType=INTEGER}, 
      #{baseid,jdbcType=INTEGER}, #{impressionname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Memimpression" >
    insert into memimpression
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="tomemberid != null" >
        tomemberid,
      </if>
      <if test="baseid != null" >
        baseid,
      </if>
      <if test="impressionname != null" >
        impressionname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="tomemberid != null" >
        #{tomemberid,jdbcType=INTEGER},
      </if>
      <if test="baseid != null" >
        #{baseid,jdbcType=INTEGER},
      </if>
      <if test="impressionname != null" >
        #{impressionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Memimpression" >
    update memimpression
    <set >
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="tomemberid != null" >
        tomemberid = #{tomemberid,jdbcType=INTEGER},
      </if>
      <if test="baseid != null" >
        baseid = #{baseid,jdbcType=INTEGER},
      </if>
      <if test="impressionname != null" >
        impressionname = #{impressionname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Memimpression" >
    update memimpression
    set memberid = #{memberid,jdbcType=INTEGER},
      tomemberid = #{tomemberid,jdbcType=INTEGER},
      baseid = #{baseid,jdbcType=INTEGER},
      impressionname = #{impressionname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <insert id="addMemimpreesionList" parameterType="com.emi.emiservice.entity.Memimpression">

    <![CDATA[ insert into memimpression (memberid, tomemberid,
      baseid, impressionname)
    values ]]>
    <foreach collection="list" index="index" item="item" open="" close="" separator="," >
      <![CDATA[    (#{item.memberid}, #{item.tomemberid},
      #{item.baseid}, #{item.impressionname}) ]]>
    </foreach>

  </insert>


  <select id="getmemimpressionList" resultType="com.emi.emiservice.entity.Memimpression">
    <![CDATA[ select (CASE when mi.baseid <> '' and mi.baseid is not NULL then ib.`name`
    when mi.baseid = '' || mi.baseid is NULL then CAST(mi.impressionname AS CHAR CHARACTER SET utf8) else ''  END ) name,

    COUNT(*) nums from memimpression mi
    left join impressionbase ib on ib.id = mi.baseid
    where mi.tomemberid = '${id}'
    group by mi.baseid,mi.impressionname
    ]]>

  </select>
</mapper>