<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.MemservicecommentMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Memservicecomment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serviceid" property="serviceid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="tomemberid" property="tomemberid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, serviceid, content, memberid, tomemberid, ctime, isdelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from memservicecomment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from memservicecomment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Memservicecomment" >
    insert into memservicecomment (serviceid, content,
      memberid, tomemberid, ctime)
    values (#{serviceid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
      #{memberid,jdbcType=INTEGER}, #{tomemberid,jdbcType=INTEGER}, now())
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Memservicecomment" >
    insert into memservicecomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviceid != null" >
        serviceid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="tomemberid != null" >
        tomemberid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceid != null" >
        #{serviceid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="tomemberid != null" >
        #{tomemberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Memservicecomment" >
    update memservicecomment
    <set >
      <if test="serviceid != null" >
        serviceid = #{serviceid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="tomemberid != null" >
        tomemberid = #{tomemberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Memservicecomment" >
    update memservicecomment
    set serviceid = #{serviceid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      memberid = #{memberid,jdbcType=INTEGER},
      tomemberid = #{tomemberid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getMemservicecommentListByServiceid" resultType="com.emi.emiservice.entity.Memservicecomment">
select m.*,mm.`name` membername,mmm.`name` tomembername from memservicecomment m
left join member mm on mm.id = m.memberid
left join member mmm on mmm.id= m.tomemberid
where m.serviceid = '${servicecommentid}' and m.isdelete = 0

  </select>

  <select id="getFenPageMemserviceCommentList" resultType="com.emi.emiservice.entity.Memservicecomment">
    select m.id,m.serviceid,m.memberid,m.tomemberid,m.ctime,CAST(m.content AS CHAR CHARACTER SET utf8) AS content,mm.`name` membername,mm.headimg memberimg, mmm.`name` tomembername,mmm.headimg tomemberimg from memservicecomment m
    left join member mm on mm.id = m.memberid
    left join member mmm on mmm.id= m.tomemberid
    where m.serviceid = '${id}' and m.isdelete = 0

  </select>
</mapper>