<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.MemserviceimgMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Memserviceimg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="serviceid" property="serviceid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, imgurl, serviceid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from memserviceimg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from memserviceimg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Memserviceimg" >
    insert into memserviceimg (id, imgurl, serviceid
      )
    values (#{id,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR}, #{serviceid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Memserviceimg" >
    insert into memserviceimg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="serviceid != null" >
        serviceid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="serviceid != null" >
        #{serviceid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Memserviceimg" >
    update memserviceimg
    <set >
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="serviceid != null" >
        serviceid = #{serviceid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Memserviceimg" >
    update memserviceimg
    set imgurl = #{imgurl,jdbcType=VARCHAR},
      serviceid = #{serviceid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <insert id="insertListimgs" >

    <![CDATA[ insert into memserviceimg (imgurl, serviceid) values ]]>
    <foreach collection="list" index="index" item="item" open="" close="" separator="," >
      <![CDATA[    (#{item.imgurl},#{item.serviceid}) ]]>
    </foreach>

  </insert>





</mapper>