<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.MemserviceMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Memservice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="nature" property="nature" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="commentednum" property="commentednum" jdbcType="INTEGER" />
    <result column="followednum" property="followednum" jdbcType="INTEGER" />
    <result column="viewnum" property="viewnum" jdbcType="INTEGER" />
    <result column="effectivedays" property="effectivedays" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, typeid, nature, memberid, ctime, isdelete, commentednum, followednum, 
    viewnum, effectivedays
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from memservice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from memservice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Memservice" useGeneratedKeys="true" keyProperty="id">
    insert into memservice (title, content,
      typeid, nature, memberid, 
      ctime)
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{typeid,jdbcType=INTEGER}, #{nature,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, 
     now())
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Memservice" >
    insert into memservice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="nature != null" >
        nature,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="commentednum != null" >
        commentednum,
      </if>
      <if test="followednum != null" >
        followednum,
      </if>
      <if test="viewnum != null" >
        viewnum,
      </if>
      <if test="effectivedays != null" >
        effectivedays,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="nature != null" >
        #{nature,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="commentednum != null" >
        #{commentednum,jdbcType=INTEGER},
      </if>
      <if test="followednum != null" >
        #{followednum,jdbcType=INTEGER},
      </if>
      <if test="viewnum != null" >
        #{viewnum,jdbcType=INTEGER},
      </if>
      <if test="effectivedays != null" >
        #{effectivedays,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Memservice" >
    update memservice
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="nature != null" >
        nature = #{nature,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="commentednum != null" >
        commentednum = #{commentednum,jdbcType=INTEGER},
      </if>
      <if test="followednum != null" >
        followednum = #{followednum,jdbcType=INTEGER},
      </if>
      <if test="viewnum != null" >
        viewnum = #{viewnum,jdbcType=INTEGER},
      </if>
      <if test="effectivedays != null" >
        effectivedays = #{effectivedays,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Memservice" >
    update memservice
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      nature = #{nature,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=INTEGER},
      commentednum = #{commentednum,jdbcType=INTEGER},
      followednum = #{followednum,jdbcType=INTEGER},
      viewnum = #{viewnum,jdbcType=INTEGER},
      effectivedays = #{effectivedays,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="getCountMemserviceByMemberid" resultType="java.util.Map">
        select COUNT(*) count from memservice m where m.memberid = #{memberid}  and  m.state = 1

    </select>


  <select id="getMemserviceById" resultType="com.emi.emiservice.entity.Memservice">
    select m.*,
(CASE when x.id is NULL or x.id = '' then '0' else '1' end ) isfollow
,me.headimg publishmemberimg,me.`name` publishmembername,me.id publishmemberid from memservice m
left join (
	select mf.id,mf.serviceid from memservicefollow mf where mf.memberid = '${memberid}' and mf.serviceid = '${id}'
)x on x.serviceid  = m.id
left join member me on me.id = m.memberid
where m.id = '${id}'


  </select>


  <select id="getMemserviceimgsByserviceic" resultType="com.emi.emiservice.entity.Memserviceimg">

select * from memserviceimg ms where ms.serviceid = '${id}'

  </select>



  <select id="getFenPageMemserviceList" resultType="com.emi.emiservice.entity.Memservice">
    <![CDATA[  select m.* , mt.`name` typename,x.imgurl from memservice m
    left join memservicetype mt on mt.id = m.typeid
    left join (
    select mi.serviceid,mi.imgurl from memserviceimg mi  group by mi.serviceid
    )x on x.serviceid = m.id
    where m.state = 1
    and datediff(now(),m.ctime) < 7
 ]]>
    <if test="param != null">
      ${param}

    </if>

    <![CDATA[
    order by m.ctime DESC
]]>







  </select>



  <update id="updatefollowednum" >
    UPDATE memservice m set m.followednum = m.followednum -1 where m.id = '${memserviceid}'

  </update>

  <update id="updatefollowednumadd" >
    UPDATE memservice m set m.followednum = m.followednum +1 where m.id = '${memserviceid}'

  </update>



  <select id="getMemservicevalidBymemberid" resultType="com.emi.emiservice.entity.Memservice">
    <![CDATA[ select m.* , mt.`name` mtname from memservice m
    left join memservicetype mt on mt.id = m.typeid

    where m.state = 1
    and datediff(now(),m.ctime) < 7
    and m.memberid = '${id}'

    order by m.ctime DESC

    ]]>
  </select>


  <select id="getFenPageMyFollowedServiceList" resultType="com.emi.emiservice.entity.Memservice">
<![CDATA[ select ms.*,(

    CASE when  DATE_FORMAT(NOW(),'%Y-%m-%d') < DATE_FORMAT(DATE_ADD(ms.ctime,INTERVAL 7 DAY),'%Y-%m-%d')
    and DATE_FORMAT(NOW(),'%Y-%m-%d') >= DATE_FORMAT(ms.ctime,'%Y-%m-%d')
    then '0' ELSE '1' END

    )as status
    from memservice ms where ms.id in (
	select mf.serviceid from memservicefollow mf where mf.memberid = '${memberid}'
)
]]>
  </select>


  <select id="getFenPageMyPublishedServiceList" resultType="com.emi.emiservice.entity.Memservice">
    <![CDATA[ select ms.*,
    (

    CASE when  DATE_FORMAT(NOW(),'%Y-%m-%d') < DATE_FORMAT(DATE_ADD(ms.ctime,INTERVAL 7 DAY),'%Y-%m-%d')
    and DATE_FORMAT(NOW(),'%Y-%m-%d') >= DATE_FORMAT(ms.ctime,'%Y-%m-%d')
    then '0' ELSE '1' END

    )as status

from memservice ms where ms.memberid = '${memberid}'  and ms.isdelete = 0 and ms.state = 1
]]>
  </select>


  <update id="updatecommentednum" >
    UPDATE memservice m set m.commentednum = m.commentednum +1 where m.id = '${serviceid}'

  </update>

  <update id="updateviewnum">
UPDATE memservice m set m.viewnum = m.viewnum +1 where m.id = '${serviceid}'

  </update>

</mapper>