<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.NewscommentagreeMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Newscommentagree" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="newscommentid" property="newscommentid" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, newscommentid, memberid, ctime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from newscommentagree
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from newscommentagree
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Newscommentagree" >
    insert into newscommentagree (id, newscommentid, memberid, 
      ctime)
    values (#{id,jdbcType=INTEGER}, #{newscommentid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Newscommentagree" >
    insert into newscommentagree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="newscommentid != null" >
        newscommentid,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="newscommentid != null" >
        #{newscommentid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Newscommentagree" >
    update newscommentagree
    <set >
      <if test="newscommentid != null" >
        newscommentid = #{newscommentid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Newscommentagree" >
    update newscommentagree
    set newscommentid = #{newscommentid,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="addNewscommentagrees">
    <![CDATA[
		insert into newscommentagree(newscommentid,memberid,ctime) VALUES (#{newscommentid},#{memberid},now())
	]]>
  </insert>

  <delete id="deletenewscommentagrees">
      delete from newscommentagree where memberid=#{memberid} AND newscommentid=#{commentid}
  </delete>
</mapper>