<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Org" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="orgtype" property="orgtype" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="citycode" property="citycode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parentid, isdelete, orgtype, city, citycode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from org
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Org" >
    insert into org (id, name, parentid, 
      isdelete, orgtype, city, 
      citycode)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{isdelete,jdbcType=INTEGER}, #{orgtype,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{citycode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Org" >
    insert into org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="orgtype != null" >
        orgtype,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="citycode != null" >
        citycode,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="inexternal != null" >
        inexternal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="orgtype != null" >
        #{orgtype,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="inexternal != null" >
        #{inexternal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Org" >
    update org
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="orgtype != null" >
        orgtype = #{orgtype,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null" >
        citycode = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="inexternal != null" >
        inexternal = #{inexternal,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKeySelectives" parameterType="com.emi.emiservice.entity.Org" >
        update org
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null" >
                parentid = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="isdelete != null" >
                isdelete = #{isdelete,jdbcType=INTEGER},
            </if>
            <if test="orgtype != null" >
                orgtype = #{orgtype,jdbcType=INTEGER},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="citycode != null" >
                citycode = #{citycode,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Org" >
    update org
    set name = #{name,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      isdelete = #{isdelete,jdbcType=INTEGER},
      orgtype = #{orgtype,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      citycode = #{citycode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getOrgListMap" resultType="java.util.Map">
      <![CDATA[
      select id,name,ifnull(parentid,0) pId,orgtype,city,citycode,sort from org where isdelete=0 AND inexternal=#{inexternal} ORDER by sort
      ]]>
  </select>


  <select id="getOrgListByOrgtype" resultType="java.util.Map">
    <![CDATA[
      select id,name,ifnull(parentid,0) pId,orgtype,city,citycode from org where isdelete=0 AND inexternal=#{inexternal}
      ]]>

    <if test="orgtype != null" >
      and orgtype in ${orgtype}
    </if>


  </select>

  <select id="getPrivateOrgListByParentid" resultType="java.util.Map">
    <![CDATA[
      select id,name,ifnull(parentid,0) pId,orgtype,city,citycode from org where isdelete=0 and inexternal=1
      ]]>

    <if test="parentid != null" >
      and parentid = #{parentid}
    </if>

  </select>


  <select id="getCityList" resultType="com.emi.emiservice.entity.City">
    select DISTINCT  case o.city when '全国' then '总部' else o.city end city,  o.citycode from org o  where o.isdelete = 0 ORDER BY sort

  </select>

  <update id="updatechatgroupsid">
    <![CDATA[ UPDATE org set chatgroupsid=#{chatgroupsid}  WHERE  id=#{orgid} ]]>
  </update>

    <select id="selectchatgroupsid" resultType="com.emi.emiservice.entity.Org">
        select * FROM  org WHERE id = #{orgid}
    </select>

  <select id="getChildrenOrg" resultType="java.util.Map">
      SELECT getchildrenorg(#{orgid}) childmap
  </select>



</mapper>