<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.OrgpersonMapper" >

    <select id="FenPagegetpsrsonList" resultType="com.emi.emiservice.entity.Orgperson">
       <![CDATA[  SELECT orgperson.*,org.name orgidname FROM orgperson LEFT join org on orgperson.orgid=org.id  WHERE 1=1 ]]>
        <if test="param!=null">
            <![CDATA[ AND orgperson.name  LIKE "%${param}%" ]]>
        </if>
        <![CDATA[   ORDER BY org.sort  ]]>
    </select>

    <delete id="deletepseron">
      DELETE FROM orgperson WHERE id = #{id}
    </delete>

    <select id="selecttoAddpseron" resultType="com.emi.emiservice.entity.Orgperson">
        <![CDATA[  SELECT p.*,o.`name` AS orgidname FROM orgperson p LEFT JOIN org o ON o.id=p.orgid WHERE p.id=#{id} ]]>
    </select>

    <insert id="addperson">
        <![CDATA[  insert into orgperson(name,sex,birthday,phonenum,orgid,headimg) VALUES (#{name},#{sex},#{birthdays},#{phonenum},#{orgid},#{headimg})   ]]>
    </insert>
    <update id="updateperson">
        <![CDATA[ UPDATE orgperson set name=#{name},birthday=#{birthdays},phonenum=#{phonenum},orgid=#{orgid},headimg=#{headimg},sex=#{sex}  WHERE  id=#{id} ]]>
    </update>

    <select id="getphonenum" resultType="com.emi.emiservice.entity.Orgperson">
        <![CDATA[  SELECT p.* FROM orgperson p  WHERE p.phonenum=#{phonenum} ]]>
    </select>

    <select id="getPersonphonenum" resultType="com.emi.emiservice.entity.Orgperson">
        <![CDATA[  SELECT p.* FROM orgperson p  WHERE p.phonenum=#{phonenum} ]]>
    </select>

</mapper>