<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.PositionMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Position" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="positiontype" property="positiontype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, isdelete, positiontype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from position
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from position
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Position" >
    insert into position (id, name, isdelete, 
      positiontype)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER}, 
      #{positiontype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Position" >
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="positiontype != null" >
        positiontype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="positiontype != null" >
        #{positiontype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Position" >
    update position
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="positiontype != null" >
        positiontype = #{positiontype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Position" >
    update position
    set name = #{name,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      positiontype = #{positiontype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getPositionList" resultType="com.emi.emiservice.entity.Position">
    SELECT * from position where isdelete=0 and positiontype=#{positiontype} order by sort
  </select>

</mapper>