<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.TopicfollowMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Topicfollow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="topicid" property="topicid" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, topicid, memberid, ctime, isdelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from topicfollow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topicfollow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Topicfollow" >
    insert into topicfollow (id, topicid, memberid, 
      ctime, isdelete)
    values (#{id,jdbcType=INTEGER}, #{topicid,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER}, 
      #{ctime,jdbcType=TIMESTAMP}, #{isdelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Topicfollow" >
    insert into topicfollow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        topicid,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
        ctime
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=INTEGER},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Topicfollow" >
    update topicfollow
    <set >
      <if test="topicid != null" >
        topicid = #{topicid,jdbcType=INTEGER},
      </if>
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Topicfollow" >
    update topicfollow
    set topicid = #{topicid,jdbcType=INTEGER},
      memberid = #{memberid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      isdelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <delete id="cancelFollowTopic">
    DELETE from topicfollow where topicid = '${id}' and  memberid = '${memberid}'

  </delete>
</mapper>