<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emi.emiservice.mapper.ValidatecodeMapper" >
  <resultMap id="BaseResultMap" type="com.emi.emiservice.entity.Validatecode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="dn" property="dn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, code, state, ctime, dn
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from validatecode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from validatecode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.emi.emiservice.entity.Validatecode" >
    insert into validatecode (id, userid, code, 
      state, ctime, dn)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{dn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emi.emiservice.entity.Validatecode" >
    insert into validatecode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="dn != null" >
        dn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="dn != null" >
        #{dn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.emi.emiservice.entity.Validatecode" >
    update validatecode
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="dn != null" >
        dn = #{dn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emi.emiservice.entity.Validatecode" >
    update validatecode
    set userid = #{userid,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      dn = #{dn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateCheckCode">

     update validatecode set state=1 where dn='${fjcode.dn}' and state=0

  </update>


  <insert id="insertCheckCode" >
    insert into validatecode(code,state,ctime,dn) values('${fjcheckcode.code}',${fjcheckcode.state},'${fjcheckcode.ctime}','${fjcheckcode.dn}')
  </insert>

  <select id="getdatecodes" resultType="com.emi.emiservice.entity.Validatecode">
    select * from validatecode where dn=#{phonenum} AND state=0
  </select>
</mapper>